// >> Callouts
.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  @include border-radius;

  h4 {
    margin-top: 0;
    margin-bottom: .25rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    @include border-radius;
  }

  & + .callout {
    margin-top: -.25rem;
  }
}

@each $color, $value in $colors {
  .callout-#{$color} {
    @include callout-variant($value);
  }
}

.callout-dark {
  @extend .bg-dark;
}
