// Overrides & custom for the Collapse component

// Make entire accordion header clickable for accessibility and UX
.accordion {
  .card-header {
    padding: 0;

    h2,
    h3,
    h4,
    h5,
    h6,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      padding: 0;
    }

    .btn {
      display: flex;
      width: 100%;
      padding: .75rem 1.25rem;
      color: $dark-silver;
      text-align: left;
      text-transform: none;
      justify-content: space-between;
      align-items: center;

      &:hover {
        text-decoration: none;

        span.title {
            text-decoration: underline;
          }
          
      }

      &::after {
        // stylelint-disable-next-line
        font-family: "Material Icons Sharp";
        font-size: 2em;
        font-variant-ligatures: no-common-ligatures;
        content: "expand_more";
        margin-left: 1rem;
        line-height: 1rem;
      }

    }

    .btn[aria-expanded="true"] {
      &::after {
        content: "expand_less";
      }
    }
  }
}


button.btn.btn-link:hover {
  text-decoration: none;
}


button.btn.btn-link:hover span.title {
  text-decoration: underline;
}
