// Overrides & custom for the Collapse component

// Make entire accordion header clickable for accessibility and UX
.accordion {
  .card-header {
    padding: 0;

    h2,
    h3,
    h4,
    h5,
    h6,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      padding: 0;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: .75rem 1.25rem;
      color: $dark-silver;
      text-align: left;
      text-transform: none;

      &::after {
        margin-left: 1rem;
        // stylelint-disable-next-line
        font-family: "Material Icons Sharp";
        font-size: 2em;
        font-variant-ligatures: no-common-ligatures;
        line-height: 1rem;
        content: "expand_more";
      }

    }

    .btn[aria-expanded="true"] {
      &::after {
        content: "expand_less";
      }
    }

    .btn-link {
      color: $dark-silver;
    }
  }
}
