//
// > COLORS
//

//
// >> Brand Colors
//
$red: #ab0520;
$bloom: #ef4056;
$chili: #8b0015;

$blue: #0c234b;
$sky: #81d3eb;
$oasis: #378dbd;
$azurite: #1e5288;
$midnight: #001c48;

$cool-gray: #e2e9eb;
$warm-gray: #f4ede5;

$leaf: #70b865;
$river: #007d84;
$silver: #9eabae;
$mesa: #a95c42;

$ash: #403635;
$sage: #4a634e;

$white: #fff;
$black: #000;


$colors: ();
$colors: map-merge(
  (
    "red":   $red,
    "bloom":   $bloom,
    "chili":   $chili,
    "blue":    $blue,
    "sky":     $sky,
    "oasis":   $oasis,
    "azurite":     $azurite,
    "midnight":    $midnight,
    "cool-gray":   $cool-gray,
    "warm-gray":   $warm-gray,
    "leaf":    $leaf,
    "river":   $river,
    "silver":  $silver,
    "mesa":    $mesa,
    "ash":     $ash,
    "sage":    $sage,
    "white":    $white,
    "black":    $black,
  ),
  $colors
);

//
// >> Theme Colors
//
$primary: $red;
$secondary: $blue;
$success: $leaf;
$info: $sky;
$warning: #f19e1f; // to be used for warnings only
$danger: $mesa;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger
  ),
  $theme-colors
);


//
// >> Grayscale Colors
//
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$light: $gray-300;
$dark: $gray-900;

$grays: ();
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

//
// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false;

//
// > FONTS
//
// stylelint-disable value-keyword-case
$font-family-sans-serif:      MiloWeb-Text, Verdana, Geneva, sans-serif !default;
$font-family-monospace:       Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case



//
// > COMPONENTS
//

// >> Cards
$card-cap-bg: $gray-200;
$card-cap-bg-darken: rgba($black, .075);

// >> Dropdowns
$dropdown-link-color: $azurite;
$dropdown-link-hover-color: $midnight;
$dropdown-link-hover-bg: $gray-200;
$dropdown-link-active-bg: $cool-gray;

// >> Navs
$nav-link-color: $azurite;
$nav-link-hover-color: $midnight;
$nav-link-active-color: $midnight;
$nav-link-active-bg: $cool-gray;

$nav-pills-link-active-color: $midnight;
$nav-pills-link-active-bg: $cool-gray;

// >> Navbar
$navbar-padding-y: 0;
$navbar-nav-link-padding-y: 1.25rem;
$navbar-nav-link-padding-x: 1.5rem;

$navbar-light-border-color: $cool-gray;
$navbar-light-border-width: 1px 0;
$navbar-light-link-color: $azurite;
$navbar-light-link-active-color: $midnight;
$navbar-light-link-active-bg: $cool-gray;
$navbar-light-link-hover-bg: $gray-100;
