form {
  legend.col-form-label,
  label:not(.form-check-label) {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .custom-checkbox,
  .custom-radio,
  .custom-switch {
    label {
      font-size: initial;
      font-weight: initial;
    }
  }
}
