// Overrides to Mixins

//
// > ALERTS
//

/* @mixin alert-variant($background) {
  // check for inaccessible color contrast
  $alert-text-color: $white;

  @if $background == $sky or $background == $leaf {
    $alert-text-color: $midnight;
  }
  @else if $background == $bloom {
    $alert-text-color: $black;
  }

  color: $alert-text-color;
  background-color: $background;
  border: none;
  .alert-link {
    color: $alert-text-color;
  }
  hr {
    border-top-color: $alert-text-color;
  }
} */


//
// > BADGES
//
@mixin badge-variant($background) {
  // check for inaccessible color contrast
  $badge-text-color: $white;

  @if $background == $sky or $background == $leaf {
    $badge-text-color: $midnight;
  }
  @else if $background == $bloom {
    $badge-text-color: $black;
  }

  color: $badge-text-color;
  background-color: $background;
}


//
// > BUTTONS
//

// >> Regular
@mixin button-variant($background) {
  // check for inaccessible color contrast
  $button-text-color: $white;

  @if $background == $sky or $background == $leaf {
    $button-text-color: $midnight;
  }
  @else if $background == $warning {
    $button-text-color: $black;
  }

  color: $button-text-color;
}

