// Overrides for the Navbar component for off-canvas menu.
.offcanvas-toggle {
  display: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: .75;
  }
}
// >> .navbar-offcanvas
.menu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgb(64, 54, 53);
  opacity: .75;
}
.menu-backdrop.show {
  cursor: pointer;
  animation: .3s linear fadein;
}
.navbar-offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  max-height: 100vh;
  padding: 0 0 3rem;
  overflow-y: hidden;
  background-color: $navbar-offcanvas-bg;
  border: none;
  /* stylelint-disable */
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transform: translateX(100vw);
  &.open {
    transform: translateX(0); /* Account for horizontal padding on navbar */
  }

  .navbar-offcanvas-header {
    display: block;
    width: 100%;
  }

  .navbar-offcanvas-home {
    font-weight: 400;
    color: $navbar-offcanvas-link-color;
    text-decoration: none;
  }

  .navbar-offcanvas-search {
    .form-control {
      height: auto;
      margin: 0;
      border: none;
    }
  }


  .navbar-nav {
    width: 100%;
    overflow-y: auto;

    .show > .nav-link {
      color: $navbar-offcanvas-link-color;
    }
  }

  .nav-item-parent {
    .nav-link {
      text-transform: uppercase;
    }
  }

  .nav-item {
    &:hover {
      background-color: transparent;
    }
    &.active, {
      .nav-link {
        color: $navbar-offcanvas-link-color;
        background-color: $navbar-offcanvas-link-active-bg;
      }
    }

    &.show {
      .dropdown-toggle,
      .dropdown-toggle:hover,
      .dropdown-toggle:focus {
        background-color: $navbar-offcanvas-bg-expanded;
      }
      .dropdown-toggle {
        &::after {
          content: "\002D";
        }
      }
    }

    .nav-link {
      padding: $navbar-offcanvas-link-padding;
      color: $navbar-offcanvas-link-color;
      text-align: left;
      width: 100%;

      &.disabled {
        font-weight: 400;
        color: $navbar-offcanvas-link-disabled-color;
      }

      &:hover,
      &:focus {
        color: $navbar-offcanvas-link-color;
        background-color: $navbar-offcanvas-bg;
      }
    }
  }

  .dropdown-menu {
    padding: 0 0 0 1rem;
    margin: 0;
    background-color: $navbar-offcanvas-bg-expanded;
    border: none;

    .dropdown-item {
      padding: $navbar-offcanvas-dropdown-link-padding;
    }
  }
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      font-size: 1.5rem;
      vertical-align: unset;
      content: "\002B";
      border: none;
    }
  }
}

.container .navbar-offcanvas.open {
  transform: translateX(0); /* Account for horizontal padding on container */
}

@include media-breakpoint-up(lg) {
  .navbar-offcanvas {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1rem;
    padding: initial;
    overflow-y: initial;
    background-color: initial;
    border: initial;
    -webkit-transform: initial;
    transform: initial;
    top: initial;
    right: initial;
    z-index: initial;
    flex-direction: initial;
    width: initial;
    height: initial;
    transition: initial;
    // Because flex properties aren't inherited, we need to redeclare these first
    // few properties so that content nested within behave properly.
    %container-flex-properties {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &.open {
      transform: initial;
    }
    .navbar-offcanvas-header {
      display: none;
    }
    .navbar-nav {
      display: flex;
      flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      width: initial;
      overflow-y: initial;

      .nav-link {
        display: block;
        padding: $nav-link-padding-y $nav-link-padding-x;
        text-decoration: if($link-decoration == none, null, none);

        @include hover-focus() {
          text-decoration: none;
        }

        // Disabled state lightens text
        &.disabled {
          color: $nav-link-disabled-color;
          pointer-events: none;
          cursor: default;
        }
      }
    }

    .nav-item-parent {
      .nav-link {
        text-transform: initial;
      }
    }

    .nav-item {
      .nav-link {
        padding: 1.25rem 1.5rem;
        color: $navbar-light-link-color;
        &:hover {
          color: $navbar-light-link-active-color;
          background-color: $navbar-light-link-hover-bg;
        }
      }

      &:hover {
        color: $navbar-light-link-active-color;
        background-color: $navbar-light-link-hover-bg;
      }
      &.active,
      &:active {
        .nav-link {
          color: $navbar-light-link-active-color;
          background-color: $navbar-light-link-active-bg;
        }
      }
      &.show {
        .dropdown-toggle,
        .dropdown-toggle:hover,
        .dropdown-toggle:focus {
          background-color: $navbar-light-link-hover-bg;
          color: $navbar-light-active-color;
        }
        .dropdown-toggle {
          &::after {
            content: "";
          }
        }
      }
    }

    .dropdown-menu {
      padding: $dropdown-padding-y 0;
      margin: $dropdown-spacer 0 0; // override default ul
      background-color: $dropdown-bg-color;
      border: none;
      border: $dropdown-border-width solid $dropdown-border-color;
      @include border-radius($dropdown-border-radius);
      @include box-shadow($dropdown-box-shadow);
      position: absolute;
      .dropdown-item {
        padding: $dropdown-item-padding-y $dropdown-item-padding-x;
      }
    }
    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        font-size: inherit;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }
  .menu-backdrop {
    display: none;
  }
}
