// Overrides for Pagination, Breadcrumbs


//
// > BREADCRUMB
//
.breadcrumb {

  width: $breadcrumb-width;
  font-family: $font-family-sans-serif
  font-size: $breadcrumb-font-size;
  background-color: $breadcrumb-bg;


  &::before {
    float: left; // Suppress inline spacings and underlining of the separator
    padding-right: $breadcrumb-item-padding;
    font-family: "Material Icons Sharp";
    color: $breadcrumb-divider-color;
    content: "\e5cc";
  }
}
// >> Breadcrumb Items
.breadcrumb-item {
  a {
    padding: 1px 0;
    color: $breadcrumb-color;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $azurite;
    }
  }
}


//
// > PAGINATION
//
.page-link {
  color: $pagination-color;

  &:hover {
    color: $pagination-hover-color;
  }
}
