// Overrides for Pagination, Breadcrumbs


//
// > BREADCRUMB
//
.breadcrumb {
  background-color: $breadcrumb-bg;

  &::before {
    float: left; // Suppress inline spacings and underlining of the separator
    padding-right: $breadcrumb-item-padding;
    // stylelint-disable-next-line
    font-family: "Material Icons Sharp";
    color: $breadcrumb-divider-color;
    content: "home";
    // That's the home icon
  }
}
// >> Breadcrumb Items
.breadcrumb-item {
  padding-left: $breadcrumb-item-padding;

  a {
    padding: 1px 0;
    color: $breadcrumb-color;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $azurite;
    }

    &::after {
      float: right; // Suppress inline spacings and underlining of the separator
      padding-right: $breadcrumb-item-padding;
      padding-left: $breadcrumb-item-padding;
      // stylelint-disable-next-line
      font-family: "Material Icons Sharp";
      color: $breadcrumb-divider-color;
      content: "chevron_right";
    }
  }
}


//
// > PAGINATION
//
.page-link {
  color: $pagination-color;

  &:hover {
    color: $pagination-hover-color;
  }
}
