// Photo Gallery custom component

/* .ua-gallery-item,
.az-gallery-item, {
  height: 100%;
}
.ua-gallery-carousel-image,
.az-gallery-carousel-image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 70%;
  max-height: 80%;
  transform: translate(-50%, -50%);
}

.ua-gallery-caption,
.az-gallery-caption {
  position: absolute;
  right: 20%;
  bottom: 0;
  left: 20%;
  z-index: 10;
  padding: .75rem;
  margin: 0;
} */

.photo-gallery-grid-img {
  max-width: 100%;
}
