$breadcrumb-padding-y: 2px;
$breadcrumb-padding-x: 5px;
$breadcrumb-margin-bottom: 5px;
$breadcrumb-font-size: small;
$breadcrumb-bg: $gray-200;
//$breadcrumb-border-radius
//$breadcrumb-item-padding
$breadcrumb-divider-color: $azurite;
//$breadcrumb-divider: " > ";
$breadcrumb-active-color: $azurite;
//Material Icons Sharp;
