<header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link{{ if .IsHome }} active{{ end }}" href="{{ `/` | relURL}}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Arizona Bootstrap');">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ if eq .Page.Layout "about" }} active{{ end }}" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/about/overview`) | relURL -}}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'About');">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ if eq .Page.Layout "docs" }} active{{ end }}" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/getting-started/introduction`) | relURL -}}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Documentation</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        v{{ .Site.Params.docs_version }}
      </a>
      <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
        <a class="dropdown-item active" href="{{ `/` | relURL}}">Latest (2.0.x)</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://digital.arizona.edu/ua-bootstrap">UA Bootstrap (legacy)</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link p-2" href="{{ .Site.Params.repo }}" target="_blank" rel="noopener" aria-label="GitHub">
        <i class="fab fa-github fa-1x text-azurite"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="{{ .Site.Params.slack }}" rel="noopener" aria-label="Slack">
        <i class="fab fa-1x fa-slack-hash text-azurite"></i>
      </a>
    </li>
  </ul>

  <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/getting-started/download`) | relURL -}}">Download</a>
</header>
