<link rel="apple-touch-icon" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/assets/img/favicons/apple-touch-icon.png` ) | relURL -}}" sizes="180x180">
<link rel="icon" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/assets/img/favicons/favicon-32x32.png` ) | relURL -}}" sizes="32x32" type="image/png">
<link rel="icon" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/assets/img/favicons/favicon-16x16.png` ) | relURL -}}" sizes="16x16" type="image/png">
<link rel="manifest" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/assets/img/favicons/manifest.json` ) | relURL -}}">
<link rel="mask-icon" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/assets/img/favicons/safari-pinned-tab.svg` ) | relURL -}}" color="#712cf9">
<link rel="icon" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/assets/img/favicons/favicon.ico` ) | relURL -}}">
<meta name="theme-color" content="#8b0015">
