// Overrides for the Card component

// >> Card Header
.card {
  .card-header {
    color: color-contrast($card-cap-bg) if($enable-important-utilities, !important, null);
    background-color: $card-cap-bg;
  }
}

.card[class*=" bg-"] {
  .card-header {
    color: color-contrast($card-cap-bg-darken) if($enable-important-utilities, !important, null);
    background-color: $card-cap-bg-darken;
  }
}

// check for color contrast
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    // check for color contrast
    @if $value == $sky or $value == $leaf {
      .card-header {
        color: $midnight;
      }
    }
    @else if $value == $bloom {
      .card-header {
        color: $black;
      }
    }
  }
}
