// Overrides to Mixins

/*
 * > BADGES
 */
@mixin badge-variant($background) {
  // check for inaccessible color contrast
  $badge-text-color: $white;

  @if $background == $sky or $background == $leaf or $background == $light {
    $badge-text-color: $midnight;
  }
  @else if $background == $warning {
    $badge-text-color: $black;
  }
  color: $badge-text-color;
  background-color: $background;
}
