/*
* > COMPONENTS
*/

// >> Breadcrumbs
$breadcrumb-color: $azurite;

// >> Tables
$table-head-color: $gray-800;
$table-head-bg: $gray-300;
$table-accent-bg: rgba($table-head-bg, .4);
$table-hover-bg: rgba($table-head-bg, .5);
