<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      {% comment %}<li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">Examples</a></li>{% endcomment %}
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">About</a></li>
    </ul>
    <p>Arizona Bootstrap is &copy; 2019 The Arizona Board of Regents on behalf of <a href="https://www.arizona.edu/">The University of Arizona</a>.</p>
    <p>Designed and built by members of the <a href="https://github.com/orgs/az-digital/people">Arizona Digital team</a>.</p>
    <p>Currently v{{ site.current_version }}. Code is licensed <a href="{{ site.repo }}/raw/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
