# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge source maps
*.map binary

arizona-bootstrap.css linguist-vendored=false
arizona-bootstrap.js linguist-vendored=false

dist/**/*   merge=theirs
*.min.css   merge=theirs
*.min.js    merge=theirs
