# Enforce Unix newlines
* text=auto eol=lf

# Don't diff or textually merge source maps
*.map binary

arizona-bootstrap.css linguist-vendored=false
arizona-bootstrap.js linguist-vendored=false

*.min.css   -diff
*.min.js    -diff

dist/**/*   merge=ours
*.min.css   merge=ours
*.min.js    merge=ours
