// > Custom alert mixin

@mixin alert-variant($background) {
  @include az-color-contrast($background);
  background-color: $background;
  border: 0;

  .alert-link {
    color: $alert-text-color;
  }
  hr {
    border-top-color: $alert-text-color;
  }
}
