// > Custom Color Contrast Mixin

@use "sass:list";

@mixin az-color-contrast($bg-color-name) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }

  // Gray colors in these variables do not have the gray- prefix to match the $grays sass map.
  $light-background-colors: "bloom", "sky", "oasis", "cool-gray", "warm-gray", "leaf", "silver", "white", "warning", "info", "light", "100", "200", "300", "400", "500";
  $light-background-colors-with-red-links: "cool-gray", "warm-gray", "white", "100", "200", "300", "400", "500";

  // Change the link color if red links should not be used with the background color.
  @if not list.index($light-background-colors-with-red-links, $bg-color-name) {
    a:not(.btn):not(.nav-link) {
      color: inherit;
    }
  }

  // Change the color of the custom triangle marker for list items.
  @if list.index($light-background-colors, $bg-color-name) {
    .ul-triangles li::before,
    .az-list-triangles li::before {
      border-left-color: $black;
    }
  }
  @else {
    .ul-triangles li::before,
    .az-list-triangles li::before {
      border-left-color: $white;
    }
  }
}
