/*
 * > BUTTONS
 */

// >> Regular
@mixin az-button-variant($background) {
  // check for inaccessible color contrast
  $button-text-color: $white;

  @if $background == $sky or $background == $leaf or $background == $light {
    $button-text-color: $midnight;
  }
  @else if $background == $warning {
    $button-text-color: $black;
  }

  color: $button-text-color;
}
