/*
 * > BUTTONS
 */

// >> Regular
@mixin az-button-variant($background) {
  // check for inaccessible color contrast
  $button-text-color: $white;

  @if $background == $light {
    $button-text-color: $midnight;
  } @else if $background == $sky or $background == $info {
    $button-text-color: $blue;
  } @else if $background == $warning {
    $button-text-color: $black;
  }

  color: $button-text-color;

  @if $background == $blue {
    --az-btn-focus-outline-color: var(--bs-sky);
  }
}
