// Mixins for callouts

@use "sass:list";
@use "sass:map";

@mixin callout-variant($color, $value) {
  --bs-callout-border-color: var(--bs-#{$color});

  $inaccessible-brand-callouts: "bloom", "sky", "oasis", "cool-gray", "warm-gray";

  @if map.has-key($theme-colors, $color) {
    // Theme color callouts: use body color for headings
    --bs-callout-heading-color: var(--bs-body-color);
  } @else if not list.index($inaccessible-brand-callouts, $color) {
    // Accessible brand color callouts: use the brand color for headings
    --bs-callout-heading-color: var(--bs-#{$color});
  }

}
