//
// Docs color palette classes
//

@each $color, $value in map-merge($colors, ("gray-500": $gray-500)) {
  .swatch-#{$color} {
    color: color-contrast($value);
    background-color: #{$value};

    &::after {
      $contrast-ratio: "#{contrast-ratio($value, color-contrast($value))}";
      $against-white: "#{contrast-ratio($value, $white)}";
      $against-black: "#{contrast-ratio($value, $black)}";
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding-left: 1rem;
      font-size: .75rem;
      line-height: 1.35;
      white-space: pre;
      content:
        str-slice($contrast-ratio, 1, 4) "\A"
        str-slice($against-white, 1, 4) "\A"
        str-slice($against-black, 1, 4);
      background-color: $value;
      background-image:
        linear-gradient(
          to bottom,
          transparent .25rem,
          color-contrast($value) .25rem .75rem,
          transparent .75rem 1.25rem,
          $white 1.25rem 1.75rem,
          transparent 1.75rem 2.25rem,
          $black 2.25rem 2.75rem,
          transparent 2.75rem
        );
      background-repeat: no-repeat;
      background-size: .5rem 100%;
    }
  }
}

// stylelint-disable declaration-block-single-line-max-declarations
.bd-blue-100 { color: color-contrast($blue-100); background-color: $blue-100; }
.bd-blue-200 { color: color-contrast($blue-200); background-color: $blue-200; }
.bd-blue-300 { color: color-contrast($blue-300); background-color: $blue-300; }
.bd-blue-400 { color: color-contrast($blue-400); background-color: $blue-400; }
.bd-blue-500 { color: color-contrast($blue-500); background-color: $blue-500; }
.bd-blue-600 { color: color-contrast($blue-600); background-color: $blue-600; }
.bd-blue-700 { color: color-contrast($blue-700); background-color: $blue-700; }
.bd-blue-800 { color: color-contrast($blue-800); background-color: $blue-800; }
.bd-blue-900 { color: color-contrast($blue-900); background-color: $blue-900; }

.bd-indigo-100 { color: color-contrast($indigo-100); background-color: $indigo-100; }
.bd-indigo-200 { color: color-contrast($indigo-200); background-color: $indigo-200; }
.bd-indigo-300 { color: color-contrast($indigo-300); background-color: $indigo-300; }
.bd-indigo-400 { color: color-contrast($indigo-400); background-color: $indigo-400; }
.bd-indigo-500 { color: color-contrast($indigo-500); background-color: $indigo-500; }
.bd-indigo-600 { color: color-contrast($indigo-600); background-color: $indigo-600; }
.bd-indigo-700 { color: color-contrast($indigo-700); background-color: $indigo-700; }
.bd-indigo-800 { color: color-contrast($indigo-800); background-color: $indigo-800; }
.bd-indigo-900 { color: color-contrast($indigo-900); background-color: $indigo-900; }

.bd-purple-100 { color: color-contrast($purple-100); background-color: $purple-100; }
.bd-purple-200 { color: color-contrast($purple-200); background-color: $purple-200; }
.bd-purple-300 { color: color-contrast($purple-300); background-color: $purple-300; }
.bd-purple-400 { color: color-contrast($purple-400); background-color: $purple-400; }
.bd-purple-500 { color: color-contrast($purple-500); background-color: $purple-500; }
.bd-purple-600 { color: color-contrast($purple-600); background-color: $purple-600; }
.bd-purple-700 { color: color-contrast($purple-700); background-color: $purple-700; }
.bd-purple-800 { color: color-contrast($purple-800); background-color: $purple-800; }
.bd-purple-900 { color: color-contrast($purple-900); background-color: $purple-900; }

.bd-pink-100 { color: color-contrast($pink-100); background-color: $pink-100; }
.bd-pink-200 { color: color-contrast($pink-200); background-color: $pink-200; }
.bd-pink-300 { color: color-contrast($pink-300); background-color: $pink-300; }
.bd-pink-400 { color: color-contrast($pink-400); background-color: $pink-400; }
.bd-pink-500 { color: color-contrast($pink-500); background-color: $pink-500; }
.bd-pink-600 { color: color-contrast($pink-600); background-color: $pink-600; }
.bd-pink-700 { color: color-contrast($pink-700); background-color: $pink-700; }
.bd-pink-800 { color: color-contrast($pink-800); background-color: $pink-800; }
.bd-pink-900 { color: color-contrast($pink-900); background-color: $pink-900; }

.bd-red-100 { color: color-contrast($red-100); background-color: $red-100; }
.bd-red-200 { color: color-contrast($red-200); background-color: $red-200; }
.bd-red-300 { color: color-contrast($red-300); background-color: $red-300; }
.bd-red-400 { color: color-contrast($red-400); background-color: $red-400; }
.bd-red-500 { color: color-contrast($red-500); background-color: $red-500; }
.bd-red-600 { color: color-contrast($red-600); background-color: $red-600; }
.bd-red-700 { color: color-contrast($red-700); background-color: $red-700; }
.bd-red-800 { color: color-contrast($red-800); background-color: $red-800; }
.bd-red-900 { color: color-contrast($red-900); background-color: $red-900; }

.bd-orange-100 { color: color-contrast($orange-100); background-color: $orange-100; }
.bd-orange-200 { color: color-contrast($orange-200); background-color: $orange-200; }
.bd-orange-300 { color: color-contrast($orange-300); background-color: $orange-300; }
.bd-orange-400 { color: color-contrast($orange-400); background-color: $orange-400; }
.bd-orange-500 { color: color-contrast($orange-500); background-color: $orange-500; }
.bd-orange-600 { color: color-contrast($orange-600); background-color: $orange-600; }
.bd-orange-700 { color: color-contrast($orange-700); background-color: $orange-700; }
.bd-orange-800 { color: color-contrast($orange-800); background-color: $orange-800; }
.bd-orange-900 { color: color-contrast($orange-900); background-color: $orange-900; }

.bd-yellow-100 { color: color-contrast($yellow-100); background-color: $yellow-100; }
.bd-yellow-200 { color: color-contrast($yellow-200); background-color: $yellow-200; }
.bd-yellow-300 { color: color-contrast($yellow-300); background-color: $yellow-300; }
.bd-yellow-400 { color: color-contrast($yellow-400); background-color: $yellow-400; }
.bd-yellow-500 { color: color-contrast($yellow-500); background-color: $yellow-500; }
.bd-yellow-600 { color: color-contrast($yellow-600); background-color: $yellow-600; }
.bd-yellow-700 { color: color-contrast($yellow-700); background-color: $yellow-700; }
.bd-yellow-800 { color: color-contrast($yellow-800); background-color: $yellow-800; }
.bd-yellow-900 { color: color-contrast($yellow-900); background-color: $yellow-900; }

.bd-green-100 { color: color-contrast($green-100); background-color: $green-100; }
.bd-green-200 { color: color-contrast($green-200); background-color: $green-200; }
.bd-green-300 { color: color-contrast($green-300); background-color: $green-300; }
.bd-green-400 { color: color-contrast($green-400); background-color: $green-400; }
.bd-green-500 { color: color-contrast($green-500); background-color: $green-500; }
.bd-green-600 { color: color-contrast($green-600); background-color: $green-600; }
.bd-green-700 { color: color-contrast($green-700); background-color: $green-700; }
.bd-green-800 { color: color-contrast($green-800); background-color: $green-800; }
.bd-green-900 { color: color-contrast($green-900); background-color: $green-900; }

.bd-teal-100 { color: color-contrast($teal-100); background-color: $teal-100; }
.bd-teal-200 { color: color-contrast($teal-200); background-color: $teal-200; }
.bd-teal-300 { color: color-contrast($teal-300); background-color: $teal-300; }
.bd-teal-400 { color: color-contrast($teal-400); background-color: $teal-400; }
.bd-teal-500 { color: color-contrast($teal-500); background-color: $teal-500; }
.bd-teal-600 { color: color-contrast($teal-600); background-color: $teal-600; }
.bd-teal-700 { color: color-contrast($teal-700); background-color: $teal-700; }
.bd-teal-800 { color: color-contrast($teal-800); background-color: $teal-800; }
.bd-teal-900 { color: color-contrast($teal-900); background-color: $teal-900; }

.bd-cyan-100 { color: color-contrast($cyan-100); background-color: $cyan-100; }
.bd-cyan-200 { color: color-contrast($cyan-200); background-color: $cyan-200; }
.bd-cyan-300 { color: color-contrast($cyan-300); background-color: $cyan-300; }
.bd-cyan-400 { color: color-contrast($cyan-400); background-color: $cyan-400; }
.bd-cyan-500 { color: color-contrast($cyan-500); background-color: $cyan-500; }
.bd-cyan-600 { color: color-contrast($cyan-600); background-color: $cyan-600; }
.bd-cyan-700 { color: color-contrast($cyan-700); background-color: $cyan-700; }
.bd-cyan-800 { color: color-contrast($cyan-800); background-color: $cyan-800; }
.bd-cyan-900 { color: color-contrast($cyan-900); background-color: $cyan-900; }

.bd-gray-100 { color: color-contrast($gray-100); background-color: $gray-100; }
.bd-gray-200 { color: color-contrast($gray-200); background-color: $gray-200; }
.bd-gray-300 { color: color-contrast($gray-300); background-color: $gray-300; }
.bd-gray-400 { color: color-contrast($gray-400); background-color: $gray-400; }
.bd-gray-500 { color: color-contrast($gray-500); background-color: $gray-500; }
.bd-gray-600 { color: color-contrast($gray-600); background-color: $gray-600; }
.bd-gray-700 { color: color-contrast($gray-700); background-color: $gray-700; }
.bd-gray-800 { color: color-contrast($gray-800); background-color: $gray-800; }
.bd-gray-900 { color: color-contrast($gray-900); background-color: $gray-900; }

.bd-white { color: color-contrast($white); background-color: $white; }
.bd-black { color: color-contrast($black); background-color: $black; }

.bd-bloom-100 { color: color-contrast($bloom-100); background-color: $bloom-100; }
.bd-bloom-200 { color: color-contrast($bloom-200); background-color: $bloom-200; }
.bd-bloom-300 { color: color-contrast($bloom-300); background-color: $bloom-300; }
.bd-bloom-400 { color: color-contrast($bloom-400); background-color: $bloom-400; }
.bd-bloom-500 { color: color-contrast($bloom-500); background-color: $bloom-500; }
.bd-bloom-600 { color: color-contrast($bloom-600); background-color: $bloom-600; }
.bd-bloom-700 { color: color-contrast($bloom-700); background-color: $bloom-700; }
.bd-bloom-800 { color: color-contrast($bloom-800); background-color: $bloom-800; }
.bd-bloom-900 { color: color-contrast($bloom-900); background-color: $bloom-900; }

.bd-chili-100 { color: color-contrast($chili-100); background-color: $chili-100; }
.bd-chili-200 { color: color-contrast($chili-200); background-color: $chili-200; }
.bd-chili-300 { color: color-contrast($chili-300); background-color: $chili-300; }
.bd-chili-400 { color: color-contrast($chili-400); background-color: $chili-400; }
.bd-chili-500 { color: color-contrast($chili-500); background-color: $chili-500; }
.bd-chili-600 { color: color-contrast($chili-600); background-color: $chili-600; }
.bd-chili-700 { color: color-contrast($chili-700); background-color: $chili-700; }
.bd-chili-800 { color: color-contrast($chili-800); background-color: $chili-800; }
.bd-chili-900 { color: color-contrast($chili-900); background-color: $chili-900; }

.bd-sky-100 { color: color-contrast($sky-100); background-color: $sky-100; }
.bd-sky-200 { color: color-contrast($sky-200); background-color: $sky-200; }
.bd-sky-300 { color: color-contrast($sky-300); background-color: $sky-300; }
.bd-sky-400 { color: color-contrast($sky-400); background-color: $sky-400; }
.bd-sky-500 { color: color-contrast($sky-500); background-color: $sky-500; }
.bd-sky-600 { color: color-contrast($sky-600); background-color: $sky-600; }
.bd-sky-700 { color: color-contrast($sky-700); background-color: $sky-700; }
.bd-sky-800 { color: color-contrast($sky-800); background-color: $sky-800; }
.bd-sky-900 { color: color-contrast($sky-900); background-color: $sky-900; }

.bd-oasis-100 { color: color-contrast($oasis-100); background-color: $oasis-100; }
.bd-oasis-200 { color: color-contrast($oasis-200); background-color: $oasis-200; }
.bd-oasis-300 { color: color-contrast($oasis-300); background-color: $oasis-300; }
.bd-oasis-400 { color: color-contrast($oasis-400); background-color: $oasis-400; }
.bd-oasis-500 { color: color-contrast($oasis-500); background-color: $oasis-500; }
.bd-oasis-600 { color: color-contrast($oasis-600); background-color: $oasis-600; }
.bd-oasis-700 { color: color-contrast($oasis-700); background-color: $oasis-700; }
.bd-oasis-800 { color: color-contrast($oasis-800); background-color: $oasis-800; }
.bd-oasis-900 { color: color-contrast($oasis-900); background-color: $oasis-900; }

.bd-azurite-100 { color: color-contrast($azurite-100); background-color: $azurite-100; }
.bd-azurite-200 { color: color-contrast($azurite-200); background-color: $azurite-200; }
.bd-azurite-300 { color: color-contrast($azurite-300); background-color: $azurite-300; }
.bd-azurite-400 { color: color-contrast($azurite-400); background-color: $azurite-400; }
.bd-azurite-500 { color: color-contrast($azurite-500); background-color: $azurite-500; }
.bd-azurite-600 { color: color-contrast($azurite-600); background-color: $azurite-600; }
.bd-azurite-700 { color: color-contrast($azurite-700); background-color: $azurite-700; }
.bd-azurite-800 { color: color-contrast($azurite-800); background-color: $azurite-800; }
.bd-azurite-900 { color: color-contrast($azurite-900); background-color: $azurite-900; }

.bd-midnight-100 { color: color-contrast($midnight-100); background-color: $midnight-100; }
.bd-midnight-200 { color: color-contrast($midnight-200); background-color: $midnight-200; }
.bd-midnight-300 { color: color-contrast($midnight-300); background-color: $midnight-300; }
.bd-midnight-400 { color: color-contrast($midnight-400); background-color: $midnight-400; }
.bd-midnight-500 { color: color-contrast($midnight-500); background-color: $midnight-500; }
.bd-midnight-600 { color: color-contrast($midnight-600); background-color: $midnight-600; }
.bd-midnight-700 { color: color-contrast($midnight-700); background-color: $midnight-700; }
.bd-midnight-800 { color: color-contrast($midnight-800); background-color: $midnight-800; }
.bd-midnight-900 { color: color-contrast($midnight-900); background-color: $midnight-900; }

.bd-cool-gray-100 { color: color-contrast($cool-gray-100); background-color: $cool-gray-100; }
.bd-cool-gray-200 { color: color-contrast($cool-gray-200); background-color: $cool-gray-200; }
.bd-cool-gray-300 { color: color-contrast($cool-gray-300); background-color: $cool-gray-300; }
.bd-cool-gray-400 { color: color-contrast($cool-gray-400); background-color: $cool-gray-400; }
.bd-cool-gray-500 { color: color-contrast($cool-gray-500); background-color: $cool-gray-500; }
.bd-cool-gray-600 { color: color-contrast($cool-gray-600); background-color: $cool-gray-600; }
.bd-cool-gray-700 { color: color-contrast($cool-gray-700); background-color: $cool-gray-700; }
.bd-cool-gray-800 { color: color-contrast($cool-gray-800); background-color: $cool-gray-800; }
.bd-cool-gray-900 { color: color-contrast($cool-gray-900); background-color: $cool-gray-900; }

.bd-warm-gray-100 { color: color-contrast($warm-gray-100); background-color: $warm-gray-100; }
.bd-warm-gray-200 { color: color-contrast($warm-gray-200); background-color: $warm-gray-200; }
.bd-warm-gray-300 { color: color-contrast($warm-gray-300); background-color: $warm-gray-300; }
.bd-warm-gray-400 { color: color-contrast($warm-gray-400); background-color: $warm-gray-400; }
.bd-warm-gray-500 { color: color-contrast($warm-gray-500); background-color: $warm-gray-500; }
.bd-warm-gray-600 { color: color-contrast($warm-gray-600); background-color: $warm-gray-600; }
.bd-warm-gray-700 { color: color-contrast($warm-gray-700); background-color: $warm-gray-700; }
.bd-warm-gray-800 { color: color-contrast($warm-gray-800); background-color: $warm-gray-800; }
.bd-warm-gray-900 { color: color-contrast($warm-gray-900); background-color: $warm-gray-900; }

.bd-leaf-100 { color: color-contrast($leaf-100); background-color: $leaf-100; }
.bd-leaf-200 { color: color-contrast($leaf-200); background-color: $leaf-200; }
.bd-leaf-300 { color: color-contrast($leaf-300); background-color: $leaf-300; }
.bd-leaf-400 { color: color-contrast($leaf-400); background-color: $leaf-400; }
.bd-leaf-500 { color: color-contrast($leaf-500); background-color: $leaf-500; }
.bd-leaf-600 { color: color-contrast($leaf-600); background-color: $leaf-600; }
.bd-leaf-700 { color: color-contrast($leaf-700); background-color: $leaf-700; }
.bd-leaf-800 { color: color-contrast($leaf-800); background-color: $leaf-800; }
.bd-leaf-900 { color: color-contrast($leaf-900); background-color: $leaf-900; }

.bd-river-100 { color: color-contrast($river-100); background-color: $river-100; }
.bd-river-200 { color: color-contrast($river-200); background-color: $river-200; }
.bd-river-300 { color: color-contrast($river-300); background-color: $river-300; }
.bd-river-400 { color: color-contrast($river-400); background-color: $river-400; }
.bd-river-500 { color: color-contrast($river-500); background-color: $river-500; }
.bd-river-600 { color: color-contrast($river-600); background-color: $river-600; }
.bd-river-700 { color: color-contrast($river-700); background-color: $river-700; }
.bd-river-800 { color: color-contrast($river-800); background-color: $river-800; }
.bd-river-900 { color: color-contrast($river-900); background-color: $river-900; }

.bd-silver-100 { color: color-contrast($silver-100); background-color: $silver-100; }
.bd-silver-200 { color: color-contrast($silver-200); background-color: $silver-200; }
.bd-silver-300 { color: color-contrast($silver-300); background-color: $silver-300; }
.bd-silver-400 { color: color-contrast($silver-400); background-color: $silver-400; }
.bd-silver-500 { color: color-contrast($silver-500); background-color: $silver-500; }
.bd-silver-600 { color: color-contrast($silver-600); background-color: $silver-600; }
.bd-silver-700 { color: color-contrast($silver-700); background-color: $silver-700; }
.bd-silver-800 { color: color-contrast($silver-800); background-color: $silver-800; }
.bd-silver-900 { color: color-contrast($silver-900); background-color: $silver-900; }

.bd-mesa-100 { color: color-contrast($mesa-100); background-color: $mesa-100; }
.bd-mesa-200 { color: color-contrast($mesa-200); background-color: $mesa-200; }
.bd-mesa-300 { color: color-contrast($mesa-300); background-color: $mesa-300; }
.bd-mesa-400 { color: color-contrast($mesa-400); background-color: $mesa-400; }
.bd-mesa-500 { color: color-contrast($mesa-500); background-color: $mesa-500; }
.bd-mesa-600 { color: color-contrast($mesa-600); background-color: $mesa-600; }
.bd-mesa-700 { color: color-contrast($mesa-700); background-color: $mesa-700; }
.bd-mesa-800 { color: color-contrast($mesa-800); background-color: $mesa-800; }
.bd-mesa-900 { color: color-contrast($mesa-900); background-color: $mesa-900; }

.bd-ash-100 { color: color-contrast($ash-100); background-color: $ash-100; }
.bd-ash-200 { color: color-contrast($ash-200); background-color: $ash-200; }
.bd-ash-300 { color: color-contrast($ash-300); background-color: $ash-300; }
.bd-ash-400 { color: color-contrast($ash-400); background-color: $ash-400; }
.bd-ash-500 { color: color-contrast($ash-500); background-color: $ash-500; }
.bd-ash-600 { color: color-contrast($ash-600); background-color: $ash-600; }
.bd-ash-700 { color: color-contrast($ash-700); background-color: $ash-700; }
.bd-ash-800 { color: color-contrast($ash-800); background-color: $ash-800; }
.bd-ash-900 { color: color-contrast($ash-900); background-color: $ash-900; }

.bd-sage-100 { color: color-contrast($sage-100); background-color: $sage-100; }
.bd-sage-200 { color: color-contrast($sage-200); background-color: $sage-200; }
.bd-sage-300 { color: color-contrast($sage-300); background-color: $sage-300; }
.bd-sage-400 { color: color-contrast($sage-400); background-color: $sage-400; }
.bd-sage-500 { color: color-contrast($sage-500); background-color: $sage-500; }
.bd-sage-600 { color: color-contrast($sage-600); background-color: $sage-600; }
.bd-sage-700 { color: color-contrast($sage-700); background-color: $sage-700; }
.bd-sage-800 { color: color-contrast($sage-800); background-color: $sage-800; }
.bd-sage-900 { color: color-contrast($sage-900); background-color: $sage-900; }
