//
// Docs color palette classes
//

@each $color, $value in map-merge($colors, ("gray-500": $gray-500)) {
  .swatch-#{$color} {
    color: color-contrast($value);
    background-color: #{$value};

    &::after {
      $contrast-ratio: "#{contrast-ratio($value, color-contrast($value))}";
      $against-white: "#{contrast-ratio($value, $white)}";
      $against-black: "#{contrast-ratio($value, $black)}";
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding-left: 1rem;
      font-size: .75rem;
      line-height: 1.35;
      white-space: pre;
      content:
        str-slice($contrast-ratio, 1, 4) "\A"
        str-slice($against-white, 1, 4) "\A"
        str-slice($against-black, 1, 4);
      background-color: $value;
      background-image:
        linear-gradient(
          to bottom,
          transparent .25rem,
          color-contrast($value) .25rem .75rem,
          transparent .75rem 1.25rem,
          $white 1.25rem 1.75rem,
          transparent 1.75rem 2.25rem,
          $black 2.25rem 2.75rem,
          transparent 2.75rem
        );
      background-repeat: no-repeat;
      background-size: .5rem 100%;
    }
  }
}

// stylelint-disable declaration-block-single-line-max-declarations
.bd-blue-100 { color: color-contrast($blue-100); background-color: $blue-100; }
.bd-blue-200 { color: color-contrast($blue-200); background-color: $blue-200; }
.bd-blue-300 { color: color-contrast($blue-300); background-color: $blue-300; }
.bd-blue-400 { color: color-contrast($blue-400); background-color: $blue-400; }
.bd-blue-500 { color: color-contrast($blue-500); background-color: $blue-500; }
.bd-blue-600 { color: color-contrast($blue-600); background-color: $blue-600; }
.bd-blue-700 { color: color-contrast($blue-700); background-color: $blue-700; }
.bd-blue-800 { color: color-contrast($blue-800); background-color: $blue-800; }
.bd-blue-900 { color: color-contrast($blue-900); background-color: $blue-900; }

.bd-indigo-100 { color: color-contrast($indigo-100); background-color: $indigo-100; }
.bd-indigo-200 { color: color-contrast($indigo-200); background-color: $indigo-200; }
.bd-indigo-300 { color: color-contrast($indigo-300); background-color: $indigo-300; }
.bd-indigo-400 { color: color-contrast($indigo-400); background-color: $indigo-400; }
.bd-indigo-500 { color: color-contrast($indigo-500); background-color: $indigo-500; }
.bd-indigo-600 { color: color-contrast($indigo-600); background-color: $indigo-600; }
.bd-indigo-700 { color: color-contrast($indigo-700); background-color: $indigo-700; }
.bd-indigo-800 { color: color-contrast($indigo-800); background-color: $indigo-800; }
.bd-indigo-900 { color: color-contrast($indigo-900); background-color: $indigo-900; }

.bd-purple-100 { color: color-contrast($purple-100); background-color: $purple-100; }
.bd-purple-200 { color: color-contrast($purple-200); background-color: $purple-200; }
.bd-purple-300 { color: color-contrast($purple-300); background-color: $purple-300; }
.bd-purple-400 { color: color-contrast($purple-400); background-color: $purple-400; }
.bd-purple-500 { color: color-contrast($purple-500); background-color: $purple-500; }
.bd-purple-600 { color: color-contrast($purple-600); background-color: $purple-600; }
.bd-purple-700 { color: color-contrast($purple-700); background-color: $purple-700; }
.bd-purple-800 { color: color-contrast($purple-800); background-color: $purple-800; }
.bd-purple-900 { color: color-contrast($purple-900); background-color: $purple-900; }

.bd-pink-100 { color: color-contrast($pink-100); background-color: $pink-100; }
.bd-pink-200 { color: color-contrast($pink-200); background-color: $pink-200; }
.bd-pink-300 { color: color-contrast($pink-300); background-color: $pink-300; }
.bd-pink-400 { color: color-contrast($pink-400); background-color: $pink-400; }
.bd-pink-500 { color: color-contrast($pink-500); background-color: $pink-500; }
.bd-pink-600 { color: color-contrast($pink-600); background-color: $pink-600; }
.bd-pink-700 { color: color-contrast($pink-700); background-color: $pink-700; }
.bd-pink-800 { color: color-contrast($pink-800); background-color: $pink-800; }
.bd-pink-900 { color: color-contrast($pink-900); background-color: $pink-900; }

.bd-red-100 { color: color-contrast($red-100); background-color: $red-100; }
.bd-red-200 { color: color-contrast($red-200); background-color: $red-200; }
.bd-red-300 { color: color-contrast($red-300); background-color: $red-300; }
.bd-red-400 { color: color-contrast($red-400); background-color: $red-400; }
.bd-red-500 { color: color-contrast($red-500); background-color: $red-500; }
.bd-red-600 { color: color-contrast($red-600); background-color: $red-600; }
.bd-red-700 { color: color-contrast($red-700); background-color: $red-700; }
.bd-red-800 { color: color-contrast($red-800); background-color: $red-800; }
.bd-red-900 { color: color-contrast($red-900); background-color: $red-900; }

.bd-orange-100 { color: color-contrast($orange-100); background-color: $orange-100; }
.bd-orange-200 { color: color-contrast($orange-200); background-color: $orange-200; }
.bd-orange-300 { color: color-contrast($orange-300); background-color: $orange-300; }
.bd-orange-400 { color: color-contrast($orange-400); background-color: $orange-400; }
.bd-orange-500 { color: color-contrast($orange-500); background-color: $orange-500; }
.bd-orange-600 { color: color-contrast($orange-600); background-color: $orange-600; }
.bd-orange-700 { color: color-contrast($orange-700); background-color: $orange-700; }
.bd-orange-800 { color: color-contrast($orange-800); background-color: $orange-800; }
.bd-orange-900 { color: color-contrast($orange-900); background-color: $orange-900; }

.bd-yellow-100 { color: color-contrast($yellow-100); background-color: $yellow-100; }
.bd-yellow-200 { color: color-contrast($yellow-200); background-color: $yellow-200; }
.bd-yellow-300 { color: color-contrast($yellow-300); background-color: $yellow-300; }
.bd-yellow-400 { color: color-contrast($yellow-400); background-color: $yellow-400; }
.bd-yellow-500 { color: color-contrast($yellow-500); background-color: $yellow-500; }
.bd-yellow-600 { color: color-contrast($yellow-600); background-color: $yellow-600; }
.bd-yellow-700 { color: color-contrast($yellow-700); background-color: $yellow-700; }
.bd-yellow-800 { color: color-contrast($yellow-800); background-color: $yellow-800; }
.bd-yellow-900 { color: color-contrast($yellow-900); background-color: $yellow-900; }

.bd-green-100 { color: color-contrast($green-100); background-color: $green-100; }
.bd-green-200 { color: color-contrast($green-200); background-color: $green-200; }
.bd-green-300 { color: color-contrast($green-300); background-color: $green-300; }
.bd-green-400 { color: color-contrast($green-400); background-color: $green-400; }
.bd-green-500 { color: color-contrast($green-500); background-color: $green-500; }
.bd-green-600 { color: color-contrast($green-600); background-color: $green-600; }
.bd-green-700 { color: color-contrast($green-700); background-color: $green-700; }
.bd-green-800 { color: color-contrast($green-800); background-color: $green-800; }
.bd-green-900 { color: color-contrast($green-900); background-color: $green-900; }

.bd-teal-100 { color: color-contrast($teal-100); background-color: $teal-100; }
.bd-teal-200 { color: color-contrast($teal-200); background-color: $teal-200; }
.bd-teal-300 { color: color-contrast($teal-300); background-color: $teal-300; }
.bd-teal-400 { color: color-contrast($teal-400); background-color: $teal-400; }
.bd-teal-500 { color: color-contrast($teal-500); background-color: $teal-500; }
.bd-teal-600 { color: color-contrast($teal-600); background-color: $teal-600; }
.bd-teal-700 { color: color-contrast($teal-700); background-color: $teal-700; }
.bd-teal-800 { color: color-contrast($teal-800); background-color: $teal-800; }
.bd-teal-900 { color: color-contrast($teal-900); background-color: $teal-900; }

.bd-cyan-100 { color: color-contrast($cyan-100); background-color: $cyan-100; }
.bd-cyan-200 { color: color-contrast($cyan-200); background-color: $cyan-200; }
.bd-cyan-300 { color: color-contrast($cyan-300); background-color: $cyan-300; }
.bd-cyan-400 { color: color-contrast($cyan-400); background-color: $cyan-400; }
.bd-cyan-500 { color: color-contrast($cyan-500); background-color: $cyan-500; }
.bd-cyan-600 { color: color-contrast($cyan-600); background-color: $cyan-600; }
.bd-cyan-700 { color: color-contrast($cyan-700); background-color: $cyan-700; }
.bd-cyan-800 { color: color-contrast($cyan-800); background-color: $cyan-800; }
.bd-cyan-900 { color: color-contrast($cyan-900); background-color: $cyan-900; }

.bd-gray-100 { color: color-contrast($gray-100); background-color: $gray-100; }
.bd-gray-200 { color: color-contrast($gray-200); background-color: $gray-200; }
.bd-gray-300 { color: color-contrast($gray-300); background-color: $gray-300; }
.bd-gray-400 { color: color-contrast($gray-400); background-color: $gray-400; }
.bd-gray-500 { color: color-contrast($gray-500); background-color: $gray-500; }
.bd-gray-600 { color: color-contrast($gray-600); background-color: $gray-600; }
.bd-gray-700 { color: color-contrast($gray-700); background-color: $gray-700; }
.bd-gray-800 { color: color-contrast($gray-800); background-color: $gray-800; }
.bd-gray-900 { color: color-contrast($gray-900); background-color: $gray-900; }

.bd-white { color: color-contrast($white); background-color: $white; }
.bd-black { color: color-contrast($black); background-color: $black; }

.bd-bougainvillea-100 { color: color-contrast($bougainvillea-100); background-color: $bougainvillea-100; }
.bd-bougainvillea-200 { color: color-contrast($bougainvillea-200); background-color: $bougainvillea-200; }
.bd-bougainvillea-300 { color: color-contrast($bougainvillea-300); background-color: $bougainvillea-300; }
.bd-bougainvillea-400 { color: color-contrast($bougainvillea-400); background-color: $bougainvillea-400; }
.bd-bougainvillea-500 { color: color-contrast($bougainvillea-500); background-color: $bougainvillea-500; }
.bd-bougainvillea-600 { color: color-contrast($bougainvillea-600); background-color: $bougainvillea-600; }
.bd-bougainvillea-700 { color: color-contrast($bougainvillea-700); background-color: $bougainvillea-700; }
.bd-bougainvillea-800 { color: color-contrast($bougainvillea-800); background-color: $bougainvillea-800; }
.bd-bougainvillea-900 { color: color-contrast($bougainvillea-900); background-color: $bougainvillea-900; }

.bd-sonoran-red-100 { color: color-contrast($sonoran-red-100); background-color: $sonoran-red-100; }
.bd-sonoran-red-200 { color: color-contrast($sonoran-red-200); background-color: $sonoran-red-200; }
.bd-sonoran-red-300 { color: color-contrast($sonoran-red-300); background-color: $sonoran-red-300; }
.bd-sonoran-red-400 { color: color-contrast($sonoran-red-400); background-color: $sonoran-red-400; }
.bd-sonoran-red-500 { color: color-contrast($sonoran-red-500); background-color: $sonoran-red-500; }
.bd-sonoran-red-600 { color: color-contrast($sonoran-red-600); background-color: $sonoran-red-600; }
.bd-sonoran-red-700 { color: color-contrast($sonoran-red-700); background-color: $sonoran-red-700; }
.bd-sonoran-red-800 { color: color-contrast($sonoran-red-800); background-color: $sonoran-red-800; }
.bd-sonoran-red-900 { color: color-contrast($sonoran-red-900); background-color: $sonoran-red-900; }

.bd-rain-100 { color: color-contrast($rain-100); background-color: $rain-100; }
.bd-rain-200 { color: color-contrast($rain-200); background-color: $rain-200; }
.bd-rain-300 { color: color-contrast($rain-300); background-color: $rain-300; }
.bd-rain-400 { color: color-contrast($rain-400); background-color: $rain-400; }
.bd-rain-500 { color: color-contrast($rain-500); background-color: $rain-500; }
.bd-rain-600 { color: color-contrast($rain-600); background-color: $rain-600; }
.bd-rain-700 { color: color-contrast($rain-700); background-color: $rain-700; }
.bd-rain-800 { color: color-contrast($rain-800); background-color: $rain-800; }
.bd-rain-900 { color: color-contrast($rain-900); background-color: $rain-900; }

.bd-arroyo-blue-100 { color: color-contrast($arroyo-blue-100); background-color: $arroyo-blue-100; }
.bd-arroyo-blue-200 { color: color-contrast($arroyo-blue-200); background-color: $arroyo-blue-200; }
.bd-arroyo-blue-300 { color: color-contrast($arroyo-blue-300); background-color: $arroyo-blue-300; }
.bd-arroyo-blue-400 { color: color-contrast($arroyo-blue-400); background-color: $arroyo-blue-400; }
.bd-arroyo-blue-500 { color: color-contrast($arroyo-blue-500); background-color: $arroyo-blue-500; }
.bd-arroyo-blue-600 { color: color-contrast($arroyo-blue-600); background-color: $arroyo-blue-600; }
.bd-arroyo-blue-700 { color: color-contrast($arroyo-blue-700); background-color: $arroyo-blue-700; }
.bd-arroyo-blue-800 { color: color-contrast($arroyo-blue-800); background-color: $arroyo-blue-800; }
.bd-arroyo-blue-900 { color: color-contrast($arroyo-blue-900); background-color: $arroyo-blue-900; }

.bd-azurite-100 { color: color-contrast($azurite-100); background-color: $azurite-100; }
.bd-azurite-200 { color: color-contrast($azurite-200); background-color: $azurite-200; }
.bd-azurite-300 { color: color-contrast($azurite-300); background-color: $azurite-300; }
.bd-azurite-400 { color: color-contrast($azurite-400); background-color: $azurite-400; }
.bd-azurite-500 { color: color-contrast($azurite-500); background-color: $azurite-500; }
.bd-azurite-600 { color: color-contrast($azurite-600); background-color: $azurite-600; }
.bd-azurite-700 { color: color-contrast($azurite-700); background-color: $azurite-700; }
.bd-azurite-800 { color: color-contrast($azurite-800); background-color: $azurite-800; }
.bd-azurite-900 { color: color-contrast($azurite-900); background-color: $azurite-900; }

.bd-tinta-100 { color: color-contrast($tinta-100); background-color: $tinta-100; }
.bd-tinta-200 { color: color-contrast($tinta-200); background-color: $tinta-200; }
.bd-tinta-300 { color: color-contrast($tinta-300); background-color: $tinta-300; }
.bd-tinta-400 { color: color-contrast($tinta-400); background-color: $tinta-400; }
.bd-tinta-500 { color: color-contrast($tinta-500); background-color: $tinta-500; }
.bd-tinta-600 { color: color-contrast($tinta-600); background-color: $tinta-600; }
.bd-tinta-700 { color: color-contrast($tinta-700); background-color: $tinta-700; }
.bd-tinta-800 { color: color-contrast($tinta-800); background-color: $tinta-800; }
.bd-tinta-900 { color: color-contrast($tinta-900); background-color: $tinta-900; }

.bd-cloud-100 { color: color-contrast($cloud-100); background-color: $cloud-100; }
.bd-cloud-200 { color: color-contrast($cloud-200); background-color: $cloud-200; }
.bd-cloud-300 { color: color-contrast($cloud-300); background-color: $cloud-300; }
.bd-cloud-400 { color: color-contrast($cloud-400); background-color: $cloud-400; }
.bd-cloud-500 { color: color-contrast($cloud-500); background-color: $cloud-500; }
.bd-cloud-600 { color: color-contrast($cloud-600); background-color: $cloud-600; }
.bd-cloud-700 { color: color-contrast($cloud-700); background-color: $cloud-700; }
.bd-cloud-800 { color: color-contrast($cloud-800); background-color: $cloud-800; }
.bd-cloud-900 { color: color-contrast($cloud-900); background-color: $cloud-900; }

.bd-caliche-100 { color: color-contrast($caliche-100); background-color: $caliche-100; }
.bd-caliche-200 { color: color-contrast($caliche-200); background-color: $caliche-200; }
.bd-caliche-300 { color: color-contrast($caliche-300); background-color: $caliche-300; }
.bd-caliche-400 { color: color-contrast($caliche-400); background-color: $caliche-400; }
.bd-caliche-500 { color: color-contrast($caliche-500); background-color: $caliche-500; }
.bd-caliche-600 { color: color-contrast($caliche-600); background-color: $caliche-600; }
.bd-caliche-700 { color: color-contrast($caliche-700); background-color: $caliche-700; }
.bd-caliche-800 { color: color-contrast($caliche-800); background-color: $caliche-800; }
.bd-caliche-900 { color: color-contrast($caliche-900); background-color: $caliche-900; }

.bd-saguaro-100 { color: color-contrast($saguaro-100); background-color: $saguaro-100; }
.bd-saguaro-200 { color: color-contrast($saguaro-200); background-color: $saguaro-200; }
.bd-saguaro-300 { color: color-contrast($saguaro-300); background-color: $saguaro-300; }
.bd-saguaro-400 { color: color-contrast($saguaro-400); background-color: $saguaro-400; }
.bd-saguaro-500 { color: color-contrast($saguaro-500); background-color: $saguaro-500; }
.bd-saguaro-600 { color: color-contrast($saguaro-600); background-color: $saguaro-600; }
.bd-saguaro-700 { color: color-contrast($saguaro-700); background-color: $saguaro-700; }
.bd-saguaro-800 { color: color-contrast($saguaro-800); background-color: $saguaro-800; }
.bd-saguaro-900 { color: color-contrast($saguaro-900); background-color: $saguaro-900; }

.bd-shade-100 { color: color-contrast($shade-100); background-color: $shade-100; }
.bd-shade-200 { color: color-contrast($shade-200); background-color: $shade-200; }
.bd-shade-300 { color: color-contrast($shade-300); background-color: $shade-300; }
.bd-shade-400 { color: color-contrast($shade-400); background-color: $shade-400; }
.bd-shade-500 { color: color-contrast($shade-500); background-color: $shade-500; }
.bd-shade-600 { color: color-contrast($shade-600); background-color: $shade-600; }
.bd-shade-700 { color: color-contrast($shade-700); background-color: $shade-700; }
.bd-shade-800 { color: color-contrast($shade-800); background-color: $shade-800; }
.bd-shade-900 { color: color-contrast($shade-900); background-color: $shade-900; }

.bd-silver-100 { color: color-contrast($silver-100); background-color: $silver-100; }
.bd-silver-200 { color: color-contrast($silver-200); background-color: $silver-200; }
.bd-silver-300 { color: color-contrast($silver-300); background-color: $silver-300; }
.bd-silver-400 { color: color-contrast($silver-400); background-color: $silver-400; }
.bd-silver-500 { color: color-contrast($silver-500); background-color: $silver-500; }
.bd-silver-600 { color: color-contrast($silver-600); background-color: $silver-600; }
.bd-silver-700 { color: color-contrast($silver-700); background-color: $silver-700; }
.bd-silver-800 { color: color-contrast($silver-800); background-color: $silver-800; }
.bd-silver-900 { color: color-contrast($silver-900); background-color: $silver-900; }

.bd-brick-100 { color: color-contrast($brick-100); background-color: $brick-100; }
.bd-brick-200 { color: color-contrast($brick-200); background-color: $brick-200; }
.bd-brick-300 { color: color-contrast($brick-300); background-color: $brick-300; }
.bd-brick-400 { color: color-contrast($brick-400); background-color: $brick-400; }
.bd-brick-500 { color: color-contrast($brick-500); background-color: $brick-500; }
.bd-brick-600 { color: color-contrast($brick-600); background-color: $brick-600; }
.bd-brick-700 { color: color-contrast($brick-700); background-color: $brick-700; }
.bd-brick-800 { color: color-contrast($brick-800); background-color: $brick-800; }
.bd-brick-900 { color: color-contrast($brick-900); background-color: $brick-900; }

.bd-ash-100 { color: color-contrast($ash-100); background-color: $ash-100; }
.bd-ash-200 { color: color-contrast($ash-200); background-color: $ash-200; }
.bd-ash-300 { color: color-contrast($ash-300); background-color: $ash-300; }
.bd-ash-400 { color: color-contrast($ash-400); background-color: $ash-400; }
.bd-ash-500 { color: color-contrast($ash-500); background-color: $ash-500; }
.bd-ash-600 { color: color-contrast($ash-600); background-color: $ash-600; }
.bd-ash-700 { color: color-contrast($ash-700); background-color: $ash-700; }
.bd-ash-800 { color: color-contrast($ash-800); background-color: $ash-800; }
.bd-ash-900 { color: color-contrast($ash-900); background-color: $ash-900; }

.bd-sage-100 { color: color-contrast($sage-100); background-color: $sage-100; }
.bd-sage-200 { color: color-contrast($sage-200); background-color: $sage-200; }
.bd-sage-300 { color: color-contrast($sage-300); background-color: $sage-300; }
.bd-sage-400 { color: color-contrast($sage-400); background-color: $sage-400; }
.bd-sage-500 { color: color-contrast($sage-500); background-color: $sage-500; }
.bd-sage-600 { color: color-contrast($sage-600); background-color: $sage-600; }
.bd-sage-700 { color: color-contrast($sage-700); background-color: $sage-700; }
.bd-sage-800 { color: color-contrast($sage-800); background-color: $sage-800; }
.bd-sage-900 { color: color-contrast($sage-900); background-color: $sage-900; }
