// Overrides specific to the docs

//
// > Custom Arizona Bootstrap Badge
//
.badge-az-custom {
  padding-top: .5625rem;
  padding-right: .75rem;
  padding-bottom: .5625rem;
  font-size: 1rem;
  color: $black;
  background-color: $light;

  &::before {
    margin-right: .5rem;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword, declaration-no-important */
    font-family: az-icons !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    content: "\e911";
  }
}

//
// > MISC
//
// >> Highlighted preformatted text
.highlight pre {
  padding-bottom: 1em;
}

//
// > NAV
//
// >> Navbar
.bd-navbar {
  border-top: none;
  border-bottom: none;
  --#{$prefix}nav-link-color: var(--#{$prefix}navbar-color);

  &::after {
    background-image: linear-gradient(var(--bs-chili), var(--bs-chili) 95%);
  }
}

.bd-navbar-nav .nav-link {
  &:focus,
  &:hover,
  &:active,
  &.active {
    background-color: initial;
  }
}

// >> Sidebar
.bd-toc-item {
  &.active {
    .bd-toc-link {
      color: $midnight;
      background-color: $gray-400;
    }

    &:hover {
      .bd-toc-link {
        background-color: $gray-400;
      }
    }
  }

  .bd-toc-link {
    padding: .75rem 1rem;
    color: $azurite;
    text-decoration: none;

    &:hover {
      color: $midnight;
      background-color: $gray-200;
    }
  }
}

.bd-sidenav,
.bd-sidebar {
  li {
    a {
      font-weight: initial;
      color: $midnight;
      text-decoration: none;
    }
  }
  .nav {
    // included for docs specifically
    .bd-sidenav-active {
      a {
        background-color: $gray-200;
      }

      &:hover {
        a {
          background-color: $gray-200;
        }
      }
    }
    li {
      a {
        &:hover {
          color: $midnight;
          background-color: $gray-100;
        }
      }
    }
  }
}

.bd-links-span-all.border-top {
  display: none;
}

// stylelint-disable selector-no-qualifying-type
.bd-toc nav a {
  font-weight: revert;

  &:hover,
  &.active {
    color: $midnight;
    border-left-color: $midnight;
  }
}
// stylelint-enable selector-no-qualifying-type

//
// > LAYOUT
//
.bd-example-container-header {
  background-color: $blue;
}
.bd-example-container-sidebar {
  background-color: $bloom;
}
.bd-example-container-body {
  background-color: $river;
}

// >> Background and border colors for grid items
.bd-example-row [class^="col"],
.bd-example-cols [class^="col"] > *,
.bd-example-cssgrid [class*="grid"] > * {
  background-color: var(--bs-info-bg-subtle);
  border-color: var(--bs-info-border-subtle);
}

.bd-example-row-flex-cols .row {
  background-color: var(--bs-info-bg-subtle);
}

.bd-example-flex div:not(.vr) {
  background-color: var(--bs-info-bg-subtle);
  border-color: var(--bs-info-border-subtle);
}

.btn-bd-red,
.btn-bd-download {
  color: $red;
  border-color: $red;

  &:hover,
  &:active {
    color: $white;
    background-color: $red;
    border-color: $red;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($red, .25);
  }
}

//
// > COMPONENTS
//

// >> Arizona Header
.arizona-header {
  position: static;
}
.arizona-header .sticky-top {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

// >> Background Wrappers
.btn-background-wrapper-demo,
.btn-triangle-background-demo {
  position: relative;
  top: 0;
  @include transition(box-shadow .2s, top .2s);

  &.demo-active {
    top: -5px;
    box-shadow: 0 7px 6px -4px $gray-700;
  }
}

.btn-triangle-background-demo {
  background-color: $white;

  &.demo-active {
    color: $white;
    background-color: $azurite;
  }
}

.btn-background-wrapper-demo:hover {
  @each $color, $value in $colors {
    &.text-bg-#{$color} {
      @if $color == "midnight" or $color == "ash" or $color == "black" {
        /* stylelint-disable-next-line declaration-no-important */
        background-color: tint-color($value, 15%) !important;
      }
      @else {
        /* stylelint-disable-next-line declaration-no-important */
        background-color: shade-color($value, 10%) !important;
      }
    }
  }
}

// >> Navs & Tabs
.bd-example > .nav-utility {
  margin-bottom: revert;
}

//
// > CONTENT
//

// >> Font
.proxima-nova-bold {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-bold-italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 700;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-ec-bold {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-ec-bold-italic {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-style: italic;
  font-weight: 700;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-ec-italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-ec {
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-style: normal;
  font-weight: 400;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-c-bold {
  font-family: proxima-nova-condensed, sans-serif;
  font-style: normal;
  font-weight: 700;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-c-bold-italic {
  font-family: proxima-nova-condensed, sans-serif;
  font-style: italic;
  font-weight: 700;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-c {
  font-family: proxima-nova-condensed, sans-serif;
  font-style: normal;
  font-weight: 400;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.proxima-nova-c-italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;

  span:first-child {
    text-transform: uppercase;
  }
}

.pn {
  font-family: proxima-nova-condensed, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  em {
    font-style: italic;
  }
}

.pn strong {
  font-weight: 700;
}
