// When navigating with the keyboard, prevent focus from landing behind the sticky header
:root {
  --az-scroll-behavior: smooth;
  --az-scroll-margin-top: 86px;
  --az-scroll-margin-bottom: 100px;
}
