<div class="masthead-followup row m-0 border border-white">
  <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
    <span class="material-symbols-rounded text-blue display-4">cloud_download</span>
    <h3 class="bd-content-title">Installation</h3>
    <p>Include {{ .Site.Title -}}’s source Sass and JavaScript files via npm, Composer or Meteor. Package managed installs don’t include documentation, but do include our build system and readme.</p>

    {{ highlight (printf ("npm install %s") .Site.Params.repo) "sh" "" }}

    <hr>
    <a class="btn btn-outline-blue" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/getting-started/download`) | relURL -}}">Read installation docs</a>
  </div>

  <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
    <span class="material-symbols-rounded text-blue display-4">extension</span>
    <h3 class="bd-content-title">Arizona Digital CDN</h3>
    <p>When you only need to include {{ .Site.Title -}}’s compiled CSS or JS, you can use the Arizona Digital CDN.</p>

<h5 class="bd-content-title">CSS only</h5>
{{ highlight (printf (`<link rel="stylesheet" href="%s" crossorigin="anonymous">`) .Site.Params.cdn.css ) "html" "" }}

<h5 class="bd-content-title">JS, Popper, and jQuery</h5>
{{ highlight (printf (`<script src="%s" integrity=%q crossorigin="anonymous"></script>
<script src="%s" integrity=%q crossorigin="anonymous"></script>
<script src="%s" crossorigin="anonymous"></script>
`) .Site.Params.cdn.jquery (.Site.Params.cdn.jquery_hash | safeHTMLAttr) .Site.Params.cdn.popper (.Site.Params.cdn.popper_hash | safeHTMLAttr) .Site.Params.cdn.js) "html" "" }}
    <hr>
    <a class="btn btn-outline-blue" href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/layout/overview`) | relURL -}}">Explore the docs</a>
  </div>

  <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
   <i class="fab fa-drupal fa-4x mb-3 text-blue"></i>
    <h3 class="bd-content-title">Arizona Quickstart</h3>
    <p>
      {{ .Site.Title }} is included in the Arizona Quickstart web content management system.
    </p>
    <hr>
    <a href="{{ .Site.Params.az_quickstart }}" class="btn btn-outline-blue">Try Arizona Quickstart</a>
  </div>
</div>
