<div class="bd-masthead mb-3" id="content">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center">
      {{ partial "responsive-img" (dict "context" .
        "imgPath" "/assets/brand/arizona-bootstrap-logo--colored-background.png"
        "alt" "Bootstrap"
        "classes" "d-none d-sm-block mb-3 w-25"
        "lazyload" false) }}
      <h1 class="mb-3 fw-semibold lh-1">Build fast, responsive sites with&nbsp;Bootstrap</h1>
      <p class="lead mb-4">
        Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.
      </p>
      <div class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-center gap-3 mb-4">
        <div class="d-inline-block v-align-middle fs-5">
          {{ highlight (printf ("npm i bootstrap@%s") .Site.Params.current_version) "sh" "" }}
        </div>
        <a href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/getting-started/introduction/` ) | relURL -}}" class="btn btn-lg bd-btn-lg btn-bd-red d-flex align-items-center justify-content-center fw-semibold">
          <svg class="bi me-2" aria-hidden="true"><use xlink:href="#book-half"></use></svg>
          Read the docs
        </a>
      </div>
      <p class="text-body-secondary mb-0">
        Currently <strong>v{{ .Site.Params.current_version }}</strong>
        <span class="px-1">&middot;</span>
        <a href="{{- (printf `docs/%s%s` $.Site.Params.docs_version `/getting-started/download/` ) | relURL -}}" class="link-secondary">Download</a>
        <span class="px-1">&middot;</span>
        <a href="/docs/versions/" class="link-secondary text-nowrap">All releases</a>
      </p>
    </div>
  </div>
</div>
