//
// > Arizona Header custom component
//

.arizona-header > .container > .row {
  align-items: center;
  justify-content: end;
  min-height: 50px;
}

@media screen and (max-width: 992px) {
  body:has(.az-fixed-header-on-mobile) {
    padding-top: 50px;

    :target {
      scroll-margin-top: 58px;
    }
  }
  .arizona-header {
    height: 50px;

    &.az-fixed-header-on-mobile {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 100;
    }
  }
  .arizona-logo {
    flex-shrink: 1;
  }
  .arizona-header > .container {
    padding-right: 0;

    > .row {
      margin-right: 0;
    }
  }
}

.arizona-logo {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-right: 0;
  margin-right: auto;
}
.arizona-line-logo {
  width: 100%;
  max-width: 211px;
  height: 16px;
  margin: 0 0 0 10px;
  @include border-radius(0);
}
@include media-breakpoint-up(sm) {
  .arizona-line-logo {
    max-width: 266.41px;
    height: 19.8px;
  }
}

.btn-arizona-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  padding: 4px 0;
  @include border-radius(0);
  @extend .text-white;

  > .icon-text {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 10px;
  }
}
