//
// > Custom styling for the Badge component
//

// Include custom .badge-link styles for chili, midnight, and light badges.
/* stylelint-disable declaration-no-important */
.badge.badge-link:hover,
.badge.badge-link:focus {
  text-decoration: none;

  &.text-bg-chili {
    color: var(--bs-white) !important;
    background-color: var(--bs-red) !important;
  }
  &.text-bg-midnight {
    color: var(--bs-white) !important;
    background-color: var(--bs-azurite) !important;
  }
  &.text-bg-light {
    background-color: var(--bs-silver-300) !important;
  }
}
/* stylelint-enable declaration-no-important */
