//
// > Custom styling for the Badge component
//

// Include custom .badge-link styles for chili, midnight, and light badges.
.badge.badge-link:hover,
.badge.badge-link:focus {
  text-decoration: none;

  &.text-bg-chili {
    --bs-text-bg-color: var(--bs-white);
    --bs-text-bg-bg: rgba(var(--bs-red-rgb), var(--bs-bg-opacity, 1));
  }
  &.text-bg-midnight {
    --bs-text-bg-color: var(--bs-white);
    --bs-text-bg-bg: rgba(var(--bs-azurite-rgb), var(--bs-bg-opacity, 1));
  }
  &.text-bg-light {
    --bs-text-bg-bg: var(--bs-silver-300);
  }
}
