.breadcrumb-item-home::before {
  float: left; // Suppress inline spacings and underlining of the separator
  padding-right: $breadcrumb-item-padding-x;
  // stylelint-disable-next-line
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: $breadcrumb-divider-color;
  content: "home";
}
