.breadcrumb-item-home::before {
  float: left; // Suppress inline spacings and underlining of the separator
  padding-right: $breadcrumb-item-padding-x;
  font-family: "Material Symbols Rounded", monospace;
  color: $breadcrumb-divider-color;
  // Material Symbols Rounded: Home
  // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:home
  content: "\e88a";
}
