//
// > BUTTONS
//

// hard-code red/blue since we removed primary/secondary; in favor of red/blue being more intuitive
.btn-red {
  @extend .btn-primary;
}

.btn-blue {
  @extend .btn-secondary;
}

.btn-outline-red {
  @extend .btn-outline-primary;
}

.btn-outline-blue {
  @extend .btn-outline-secondary;
}

.btn-outline-white {
  --bs-btn-color: var(--bs-white);
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-gray-800);
  --bs-btn-hover-bg: var(--bs-white);
  --bs-btn-hover-border-color: var(--bs-white);
  --bs-btn-focus-shadow-rgb: var(--bs-white-rgb);
  --bs-btn-active-color: var(--bs-gray-800);
  --bs-btn-active-bg: var(--bs-white);
  --bs-btn-active-border-color: var(--bs-white);
}

// >> Arrow Buttons
.btn-arrow {
  &::after {
    content: "\00a0»";
  }
}
