//
// > BUTTONS
//


// hard-code red/blue since we removed primary/secondary; in favor of red/blue being more intuitive
.btn-red {
  @include button-variant($chili);
  background-color: $chili;
  &:hover {
    color: $white;
    background-color: $red;
  }
  &:focus,
  &.active,
  &:active {
    color: $white;
    background-color: $red;
    border-color: $red;
  }
  &.disabled,
  &:disabled {
    color: $white;
    background-color: $chili;
    border-color: $chili;
  }
}

.btn-blue {
  @include button-variant($midnight);
  background-color: $blue;
  &:hover {
    color: $white;
    background-color: $azurite;
  }
  &.active,
  &:active {
    background-color: tint-color($blue, 20%);
  }
  &.disabled,
  &:disabled {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-outline-red {
  color: $chili;
  border-color: $chili;
  &:hover {
    color: $white;
    background-color: $chili;
  }
  &.disabled,
  &:disabled {
    color: $chili;
    border-color: $chili;
  }
}

.btn-outline-blue {
  color: $blue;
  border-color: $blue;
  &:hover {
    color: $white;
    background-color: $blue;
  }
  &.disabled,
  &:disabled {
    color: $blue;
    border-color: $blue;
  }
}
.btn-outline-white {
  color: $white;
  border-color: $white;
  &:hover {
    color: $gray-800;
    background-color: $white;
  }
}

// >> Arrow Buttons
.btn-arrow {
  &::after {
    content: "\00a0»";
  }
}
