.navbar-az-newer {
  --az-navbar-newer-height: 110px;
  --az-navbar-newer-brand-height: 60px;
  // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:menu:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%231e5288&icon.query=hamburger&icon.style=Rounded
  --az-navbar-newer-toggler-icon-open: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$white}'><path d='M160-240q-17 0-28.5-11.5T120-280q0-17 11.5-28.5T160-320h640q17 0 28.5 11.5T840-280q0 17-11.5 28.5T800-240H160Zm0-200q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-200q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z'/></svg>"))};
  // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:close:FILL@0;wght@400;GRAD@0;opsz@24&icon.style=Rounded&icon.query=close&icon.size=24&icon.color=%231e5288
  --az-navbar-newer-toggler-icon-close: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$white}'><path d='M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z'/></svg>"))};
  --bs-navbar-brand-padding-y: 25px;
  --bs-navbar-toggler-padding-y: 12.5px;
  --bs-navbar-toggler-padding-x: 12.5px;
  --bs-navbar-toggler-font-size: 30px;
  --bs-navbar-toggler-icon-bg: var(--az-navbar-newer-toggler-icon-open);
  --bs-navbar-toggler-border-radius: 8px;
  min-height: var(--az-navbar-newer-height);
  background-color: var(--bs-blue);
  border-top: 0;
  border-bottom: 0;

  .navbar-brand {
    img {
      height: var(--az-navbar-newer-brand-height);
      @include border-radius(0);
    }
  }

  .navbar-az-newer-tools {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .navbar-az-newer-actions {
    --az-navbar-newer-actions-font: normal normal bold 22px/27px proxima-nova-condensed;
    --bs-nav-link-padding-x: 15px;
    --bs-nav-link-padding-y: 41.5px;
    --bs-nav-link-color: var(--bs-white);

    .nav-item {
      &:hover {
        background-color: unset;
      }
    }

    .nav-link {
      position: relative;
      padding-top: 41.5px;
      padding-bottom: 41.5px;
      font: var(--az-navbar-newer-actions-font);
      letter-spacing: .66px;

      &::after {
        position: absolute;
        right: var(--bs-nav-link-padding-x);
        bottom: 35px;
        left: var(--bs-nav-link-padding-x);
        height: 2px;
        content: "";
        background: var(--bs-bloom);
        opacity: 0;
        @include border-radius(999px);
        @include transition(opacity .1s ease-out);
      }

      &:active {
        color: unset;
        background-color: unset;
      }

      &:hover {
        color: var(--bs-white);

        &::after {
          opacity: 1;
        }
      }
    }
  }

  .navbar-toggler {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    min-height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #b01c2e;
    border: 0;
  }
}


.navbar-az-newer-search {
  --az-navbar-newer-search-color: var(--bs-white);
  --az-navbar-newer-search-hover-color: var(--bs-white);
  // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:search:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%231e5288&icon.query=search&icon.style=Rounded
  --az-navbar-newer-search-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$white}'><path d='M380-320q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z'/></svg>"))};
  --az-navbar-newer-search-font: normal normal normal 16px/20px proxima-nova;
  flex: 1 1 220px;
  min-width: 0;
  max-width: 220px;
  // margin-right: 24px;
  // margin-left: 15px;

  .input-group {
    flex-wrap: nowrap;
    width: 100%;
    min-width: 0;
    height: 70px;
    overflow: hidden;
    border: 1.5px solid var(--az-navbar-newer-search-color);
    @include border-radius(8px);
  }

  .form-control {
    min-width: 0;
    min-height: 0;
    font: var(--az-navbar-newer-search-font);
    color: var(--az-navbar-newer-search-color);
    background: rgba(15, 45, 92, .2);

    border: 0;
    @include border-radius(0);

    &::placeholder {
      color: var(--az-navbar-newer-search-color);
    }

    &[type="search"]::-webkit-search-cancel-button {
      cursor: pointer;
      filter: invert(1) brightness(1.25);
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .vr {
    width: 1.5px;
    margin-top: 11.5px;
    margin-bottom: 11.5px;
    background-color: var(--az-navbar-newer-search-color);
    opacity: 1;
  }

  .btn {
    display: inline-grid;
    flex: 0 0 auto;
    place-items: center;
    min-width: 70px;
    min-height: 70px;
    padding: 10px;
    margin: 0;
    color: var(--az-navbar-newer-search-color);
    border: 0;
    // border-left: 2px solid var(--bs-white);
    @include border-radius(0);

    &::before {
      width: 100%;
      max-width: 100%;
      aspect-ratio: 1;
      content: "";
      background-image: var(--az-navbar-newer-search-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

  }

  @media (max-width: 575.98px) {
    display: none;
  }
}


.navbar-az-newer-modal {
  --az-navbar-newer-modal-footer-font: normal normal 600 20px/24px proxima-nova-condensed;
  --az-navbar-newer-modal-footer-brand-font: normal normal bold 22px/27px proxima-nova-condensed;
  --bs-modal-bg: var(--bs-blue);
  --bs-modal-padding: 0;
  --bs-modal-header-padding: 0;
  --bs-modal-header-border-width: 0;
  --bs-modal-footer-gap: 0;
  --bs-modal-footer-bg: var(--bs-midnight);
  --bs-modal-footer-border-color: var(--bs-azurite);
  --bs-modal-footer-border-width: 1px;

  .modal-header {
    .navbar-az-newer {
      --bs-navbar-toggler-icon-bg: var(--az-navbar-newer-toggler-icon-close);
    }
  }

  .navbar-az-newer-search {
    --az-navbar-newer-search-color: var(--bs-cool-gray);
    max-width: none;

    .input-group {
      flex-direction: row-reverse;
    }
  }

  .modal-footer {

    .navbar {
      --bs-navbar-brand-padding-y: 0;
      --bs-navbar-brand-margin-end: 0;
      --bs-navbar-brand-color: var(--bs-sky);
      --bs-navbar-brand-hover-color: var(--bs-sky);
      border-top: 0;
      border-bottom: 0;
    }

    .navbar-brand {
      font: var(--az-navbar-newer-modal-footer-brand-font);
      letter-spacing: .44px;
    }

    .navbar-nav {
      --bs-nav-link-color: var(--bs-white);
      --bs-nav-link-hover-color: var(--bs-sky);

      .nav-item {
        &:hover {
          background-color: transparent;
        }

        &:has(> .nav-link.active),
        &:has(> .nav-link.is-active),
        &:has(> .nav-link:active),
        &:has(> .nav-link.show) {
          background-color: transparent;
        }

        /* stylelint-disable selector-max-class, selector-max-compound-selectors */
        .nav-link {
          font: var(--az-navbar-newer-modal-footer-font);
          letter-spacing: .2px;

          &:active {
            color: var(--bs-sky);
            background-color: transparent;
          }
        }
        /* stylelint-enable selector-max-class, selector-max-compound-selectors */
      }
    }
  }
}


.navbar-az-newer-modal-menu {
  .navbar-az-newer-nav-primary {
    --az-navbar-newer-nav-primary-font: normal normal bold 68px/68px garamond-premier-pro;
    --bs-nav-link-color: var(--bs-white);
    --bs-nav-link-hover-color: var(--bs-white);

    // TODO - potentially remove this - not yet approved
    @include media-breakpoint-down(xl) {
      --az-navbar-newer-nav-primary-font: normal normal bold 52px/52px garamond-premier-pro;
    }

    .nav-link {
      padding: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      // height: 68px;
      font: var(--az-navbar-newer-nav-primary-font);
      text-align: start;
      letter-spacing: .68px;

      &.active,
      &:hover {
        color: var(--bs-white);
        text-decoration: underline;
        text-decoration-thickness: 6px;
        text-decoration-color: var(--bs-bloom);
        text-underline-offset: -1px;
        text-decoration-skip-ink: none;
        background-color: transparent;
        @include border-radius(0);
      }
    }
  }

  .navbar-az-newer-nav-secondary {
    position: relative;
    flex-grow: 1;
    width: 50%;
    --az-navbar-newer-nav-secondary-font: normal normal bold 24px/29px proxima-nova-condensed;
    --bs-nav-link-color: var(--bs-white);
    --bs-nav-link-hover-color: var(--bs-white);

    // TODO - potentially remove this - not yet approved
    @include media-breakpoint-down(xl) {
      --az-navbar-newer-nav-secondary-font: normal normal bold 22px/22px proxima-nova-condensed;
    }

    .nav-link {
      padding-top: 16px;
      padding-bottom: 17px;
      padding-left: 24px;
      margin: 0;
      // height: 68px;
      font: var(--az-navbar-newer-nav-secondary-font);
      text-align: start;
      letter-spacing: .68px;

      &.active,
      &:hover {
        color: var(--bs-white);
        text-decoration: underline;
        text-decoration-thickness: 6px;
        text-decoration-color: var(--bs-bloom);
        text-underline-offset: -1px;
        text-decoration-skip-ink: none;
        background-color: transparent;
        @include border-radius(0);
      }
    }

    hr {
      margin-top: 0;
      margin-right: 24px;
      margin-bottom: 0;
      margin-left: 24px;
    }

    .vr {
      margin-top: 16px;
      margin-bottom: 16px;
      color: var(--bs-azurite);
      opacity: 1;
    }

    .navbar-az-newer-nav-toggle {
      // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:add_circle:FILL@0;wght@400;GRAD@0;opsz@24&icon.style=Rounded&icon.query=add+circle&icon.size=24&icon.color=%23e3e3e3
      --az-navbar-newer-nav-toggle-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$sky}'><path d='M440-440v120q0 17 11.5 28.5T480-280q17 0 28.5-11.5T520-320v-120h120q17 0 28.5-11.5T680-480q0-17-11.5-28.5T640-520H520v-120q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640v120H320q-17 0-28.5 11.5T280-480q0 17 11.5 28.5T320-440h120Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/></svg>"))};
      // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:do_not_disturb_on:FILL@0;wght@400;GRAD@0;opsz@24&icon.style=Rounded&icon.query=remove+circle&icon.size=24&icon.color=%23e3e3e3
      --az-navbar-newer-nav-toggle-icon-active: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$sky}'><path d='M320-440h320q17 0 28.5-11.5T680-480q0-17-11.5-28.5T640-520H320q-17 0-28.5 11.5T280-480q0 17 11.5 28.5T320-440Zm160 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/></svg>"))};
      flex: 0 0 auto;
      padding: 16px 24px 16px 12px;
      // margin-left: 12px;
      border: 0;
      // border-left: 1px solid var(--bs-azurite);
      @include border-radius(0);

      &:focus {
        box-shadow: none;
      }

      &[aria-expanded="true"] .navbar-az-newer-nav-toggle-icon {
        background-image: var(--az-navbar-newer-nav-toggle-icon-active);
      }

      .navbar-az-newer-nav-toggle-icon {
        display: block;
        width: 30px;
        height: 30px;
        // margin-left: 12px;
        background-image: var(--az-navbar-newer-nav-toggle-icon);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  .navbar-az-newer-nav-tertiary {
    // TODO
  }

  .navbar-az-newer-nav-tertiary-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 100%;

    .navbar-az-newer-nav-secondary {
      position: static;
      width: 100%;
    }

    &.show {
      border-inline-start: var(--bs-border-width) solid var(--bs-azurite);
    }
  }

  .collapse,
  .collapsing {
    @include transition(none);
  }
}
