// Experimental custom az-fullscreen navbar
.navbar-az-fullscreen {
  // scss-docs-start navbar-az-fullscreen-css-vars
  --az-navbar-fullscreen-height: 100px;
  --az-navbar-fullscreen-bg: var(--bs-blue);
  --az-navbar-fullscreen-bottom-border-color: var(--bs-red);
  --az-navbar-fullscreen-bottom-border-width: 3px;
  --az-navbar-fullscreen-brand-height: 60px;
  --az-navbar-fullscreen-toggler-bg: var(--bs-red);
  --az-navbar-fullscreen-toggler-hover-color: var(--bs-chili);
  --az-navbar-fullscreen-toggler-focus-color: var(--bs-bloom);
  --az-navbar-fullscreen-toggler-focus-width: 2px;
  --az-navbar-fullscreen-toggler-focus-offset: 2px;
  --az-navbar-fullscreen-focus-ring-color: var(--bs-sky);
  --az-navbar-fullscreen-focus-ring-width: 2px;
  --az-navbar-fullscreen-toggler-icon-open: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35' fill='none'><line x1='2.5' y1='2.5' x2='32.5' y2='2.5' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/><line x1='2.5' y1='17.5' x2='32.5' y2='17.5' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/><line x1='2.5' y1='32.5' x2='32.5' y2='32.5' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/></svg>"))};
  --az-navbar-fullscreen-toggler-icon-close: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='36.07' height='36.07' viewBox='0 0 36.07 36.07' fill='none'><line x1='4' y1='4' x2='32.07' y2='32.07' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/><line x1='32.07' y1='4' x2='4' y2='32.07' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/></svg>"))};
  --az-navbar-fullscreen-toggler-icon-size: 30px;
  --bs-navbar-padding-y: 20px;
  --bs-navbar-color: var(--bs-white);
  --bs-navbar-hover-color: var(--bs-white);
  --bs-navbar-active-color: var(--bs-sky);
  --bs-navbar-brand-padding-y: 0;
  --bs-navbar-toggler-padding-y: 15px;
  --bs-navbar-toggler-padding-x: 15px;
  --bs-navbar-toggler-icon-bg: var(--az-navbar-fullscreen-toggler-icon-open);
  --bs-navbar-toggler-border-radius: 8px;
  // scss-docs-end navbar-az-fullscreen-css-vars

  min-height: var(--az-navbar-fullscreen-height);
  background-color: var(--az-navbar-fullscreen-bg);
  border-top: 0;
  border-bottom: var(--az-navbar-fullscreen-bottom-border-width) solid var(--az-navbar-fullscreen-bottom-border-color);

  .navbar-brand {
    &:focus-visible {
      @include border-radius(2px);
      outline: 0;
      box-shadow: inset 0 0 0 var(--az-navbar-fullscreen-focus-ring-width) var(--az-navbar-fullscreen-focus-ring-color);
    }

    img {
      height: var(--az-navbar-fullscreen-brand-height);
      @include border-radius(0);
    }
  }

  .navbar-toggler {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: var(--az-navbar-fullscreen-brand-height);
    min-height: var(--az-navbar-fullscreen-brand-height);
    margin-top: var(--bs-navbar-brand-padding-y);
    margin-bottom: var(--bs-navbar-brand-padding-y);
    background-color: var(--az-navbar-fullscreen-toggler-bg);
    border: 0;

    &:hover {
      background-color: var(--az-navbar-fullscreen-toggler-hover-color);
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:focus-visible {
      background-color: var(--az-navbar-fullscreen-toggler-hover-color);
      outline: var(--az-navbar-fullscreen-toggler-focus-width) solid var(--az-navbar-fullscreen-toggler-focus-color);
      outline-offset: var(--az-navbar-fullscreen-toggler-focus-offset);
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    width: var(--az-navbar-fullscreen-toggler-icon-size);
    height: var(--az-navbar-fullscreen-toggler-icon-size);
  }
}

// Optional helper to offset content when using `.fixed-top` with fullscreen navbar.
.navbar-az-fullscreen-fixed-top-offset {
  padding-top: 100px;

  @include media-breakpoint-down(lg) {
    padding-top: 69px;
  }
}

.navbar-az-fullscreen-actions {
  // scss-docs-start navbar-az-fullscreen-actions-css-vars
  --az-navbar-fullscreen-actions-font-weight: bold;
  --az-navbar-fullscreen-actions-font-size: 22px;
  --az-navbar-fullscreen-actions-line-height: 27px;
  --az-navbar-fullscreen-actions-font: normal normal var(--az-navbar-fullscreen-actions-font-weight) var(--az-navbar-fullscreen-actions-font-size) / var(--az-navbar-fullscreen-actions-line-height) proxima-nova-condensed;
  --az-navbar-fullscreen-actions-separator-width: 2px;
  --az-navbar-fullscreen-actions-separator-color: var(--bs-bloom);
  --bs-nav-link-padding-x: 15px;
  --bs-nav-link-padding-y: 16.5px;
  --bs-nav-link-font-weight: var(--az-navbar-fullscreen-actions-font-weight);
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-link-hover-color: var(--bs-sky);
  // scss-docs-end navbar-az-fullscreen-actions-css-vars

  flex-direction: row;
  align-items: center;
  font: var(--az-navbar-fullscreen-actions-font);
  letter-spacing: .66px;

  .nav-item {
    position: relative;

    &:hover,
    &:has(> .nav-link.active),
    &:has(> .nav-link.is-active),
    &:has(> .nav-link:active) {
      background-color: transparent;
    }

    &:not(:last-child) > .nav-link {
      &::after {
        position: absolute;
        top: var(--bs-nav-link-padding-y);
        right: 0;
        bottom: var(--bs-nav-link-padding-y);
        z-index: 0;
        width: var(--az-navbar-fullscreen-actions-separator-width);
        content: "";
        background-color: var(--az-navbar-fullscreen-actions-separator-color);
        @include border-radius(999px);
      }
    }
  }

  .nav-link {
    position: relative;
    z-index: 1;
    padding-top: var(--bs-nav-link-padding-y);
    padding-bottom: var(--bs-nav-link-padding-y);

    &:focus-visible {
      z-index: 2;
      @include border-radius(2px);
      outline: 0;
      box-shadow: 0 0 0 var(--az-navbar-fullscreen-focus-ring-width) var(--az-navbar-fullscreen-focus-ring-color);
    }

    &:active,
    &.active,
    &.is-active {
      color: var(--bs-navbar-active-color);
      background-color: transparent;
    }

    &:hover {
      .nav-link-text::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }

  .nav-link-text {
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: "";
      background: var(--bs-nav-link-hover-color);
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      @include border-radius(999px);
      @include transition(opacity .3s ease-out, transform .3s ease-out);
    }
  }
}

.navbar-az-fullscreen-search {
  // scss-docs-start navbar-az-fullscreen-search-css-vars
  --az-navbar-fullscreen-search-width: 280px;
  --az-navbar-fullscreen-search-height: 60px;
  --az-navbar-fullscreen-search-color: var(--bs-white);
  --az-navbar-fullscreen-search-hover-color: var(--bs-sky);
  --az-navbar-fullscreen-search-border-width: 2px;
  --az-navbar-fullscreen-search-border-color: var(--az-navbar-fullscreen-search-color);
  --az-navbar-fullscreen-search-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='43.535' height='43.535' viewBox='0 0 43.535 43.535' fill='none'><ellipse cx='17.972' cy='17.831' rx='15.472' ry='15.331' stroke='#{$white}' stroke-width='5'/><line x1='31' y1='31' x2='40' y2='40' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/></svg>"))};
  --az-navbar-fullscreen-search-font: italic normal normal 18px/22px proxima-nova-condensed;
  --az-navbar-fullscreen-search-separator-color: var(--bs-bloom);
  --az-navbar-fullscreen-search-focus-ring-color: var(--az-navbar-fullscreen-focus-ring-color);
  --az-navbar-fullscreen-search-focus-ring-width: var(--az-navbar-fullscreen-focus-ring-width);
  // scss-docs-end navbar-az-fullscreen-search-css-vars
  display: flex;
  flex: 1 1 var(--az-navbar-fullscreen-search-width);
  min-width: 0;
  max-width: var(--az-navbar-fullscreen-search-width);
  margin-right: 30px;

  &:hover {
    .form-control,
    .btn {
      border-color: var(--az-navbar-fullscreen-search-hover-color);
    }
  }

  .input-group {
    flex-wrap: nowrap;
    height: var(--az-navbar-fullscreen-search-height);
    overflow: visible;

    .btn {
      padding: 13px;
      border-width: var(--az-navbar-fullscreen-search-border-width);
    }

    .btn::before {
      position: absolute;
      top: 8px;
      bottom: 8px;
      left: 0;
      width: var(--az-navbar-fullscreen-search-border-width);
      content: "";
      background-color: var(--az-navbar-fullscreen-search-separator-color);
      @include border-radius(999px);
    }
  }

  .form-control {
    padding: 8px 12px 8px 16px;
    font: var(--az-navbar-fullscreen-search-font);
    color: var(--az-navbar-fullscreen-search-color);
    background-color: transparent;
    border: var(--az-navbar-fullscreen-search-border-width) solid var(--az-navbar-fullscreen-search-border-color);
    border-right: 0;
    @include border-start-radius(8px);
    @include border-end-radius(0);

    &::placeholder {
      color: var(--az-navbar-fullscreen-search-color);
    }

    &[type="search"]::-webkit-search-cancel-button {
      cursor: pointer;
      filter: invert(1) brightness(1.25);
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
    }

    &:focus-visible {
      position: relative;
      z-index: 1;
      border-color: var(--az-navbar-fullscreen-search-focus-ring-color);
      outline: 0;
      box-shadow: inset 0 0 0 var(--az-navbar-fullscreen-search-focus-ring-width) var(--az-navbar-fullscreen-search-focus-ring-color);
    }
  }

  .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--az-navbar-fullscreen-search-height);
    margin: 0;
    color: var(--az-navbar-fullscreen-search-color);
    border: var(--az-navbar-fullscreen-search-border-width) solid var(--az-navbar-fullscreen-search-border-color);
    border-left: 0;
    @include border-start-radius(0);
    @include border-end-radius(8px);

    &:focus,
    &:focus-visible {
      @include border-start-radius(0);
      @include border-end-radius(8px);
    }

    &:focus-visible {
      position: relative;
      z-index: 1;
      border-color: var(--az-navbar-fullscreen-search-focus-ring-color);
      outline: 0;
      box-shadow: inset 0 0 0 var(--az-navbar-fullscreen-search-focus-ring-width) var(--az-navbar-fullscreen-search-focus-ring-color);

      &::before {
        content: none;
      }
    }
  }

  .navbar-toggler-search {
    border: 0;

    &:focus-visible {
      @include border-radius(4px);
      outline: 0;
      box-shadow: 0 0 0 var(--az-navbar-fullscreen-focus-ring-width) var(--az-navbar-fullscreen-focus-ring-color);
    }
  }

  .search-icon {
    display: block;
    width: 35px;
    height: 35px;
    background-image: var(--az-navbar-fullscreen-search-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}


.navbar-az-fullscreen-modal {
  // scss-docs-start navbar-az-fullscreen-modal-css-vars
  --az-navbar-fullscreen-modal-footer-font: normal normal bold 18px/22px proxima-nova-condensed;
  --az-navbar-fullscreen-modal-footer-letter-spacing: .18px;
  --az-navbar-fullscreen-modal-footer-brand-font: normal normal bold 18px/22px proxima-nova-condensed;
  --az-navbar-fullscreen-modal-footer-brand-letter-spacing: .36px;
  --az-navbar-fullscreen-modal-footer-navbar-padding-y: 20px;
  --az-navbar-fullscreen-modal-footer-nav-link-padding-x: 15px;
  --az-navbar-fullscreen-modal-footer-nav-link-padding-y: 10px;
  --az-navbar-fullscreen-modal-top-fade-size: 60px;
  --az-navbar-fullscreen-modal-bottom-fade-size: 30px;
  --az-navbar-fullscreen-modal-fade-color: var(--bs-blue);
  --az-navbar-fullscreen-modal-scrollbar-thumb-color: #{shade-color($blue, 50%)};
  --az-navbar-fullscreen-modal-scrollbar-track-color: transparent;
  --az-navbar-fullscreen-focus-ring-color: var(--bs-sky);
  --az-navbar-fullscreen-focus-ring-width: 2px;
  --az-navbar-fullscreen-modal-focus-ring-color: var(--az-navbar-fullscreen-focus-ring-color);
  --az-navbar-fullscreen-modal-focus-ring-width: var(--az-navbar-fullscreen-focus-ring-width);
  --bs-modal-bg: var(--bs-blue);
  --bs-modal-padding: 0;
  --bs-modal-header-padding: 0;
  --bs-modal-header-border-width: 0;
  --bs-modal-footer-gap: 0;
  --bs-modal-footer-bg: var(--bs-azurite);
  --bs-modal-footer-border-color: var(--bs-blue);
  --bs-modal-footer-border-width: 2px;

  @include media-breakpoint-down(xxl) {
    --az-navbar-fullscreen-modal-footer-navbar-padding-y: 10px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-x: 10px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-y: 10px;
  }

  @include media-breakpoint-down(xl) {
    --az-navbar-fullscreen-modal-footer-font: normal normal bold 16px/20px proxima-nova-condensed;
    --az-navbar-fullscreen-modal-footer-navbar-padding-y: 8px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-x: 10px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-y: 11px;
  }
  // scss-docs-end navbar-az-fullscreen-modal-css-vars

  .modal-header {
    flex-direction: column;
    align-items: stretch;

    .navbar-az-fullscreen {
      --az-navbar-fullscreen-bottom-border-width: 0;
      --bs-navbar-toggler-icon-bg: var(--az-navbar-fullscreen-toggler-icon-close);
    }

    @include media-breakpoint-up(lg) {
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        height: var(--az-navbar-fullscreen-modal-top-fade-size);
        pointer-events: none;
        content: "";
        background: linear-gradient(to bottom, var(--az-navbar-fullscreen-modal-fade-color) 0, var(--az-navbar-fullscreen-modal-fade-color) 20px, rgb(0 0 0 / 0) var(--az-navbar-fullscreen-modal-top-fade-size));
        transform: translateY(100%);
      }
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    min-height: 0;
  }

  .modal-header,
  .modal-footer {
    position: relative;
    z-index: 3;
    flex: 0 0 auto;
  }

  .modal-body {
    position: relative;
    z-index: 1;
    display: flex; // this is important apparently!
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }

  .navbar-az-fullscreen-search {
    --az-navbar-fullscreen-search-color: var(--bs-cool-gray);
    --az-navbar-fullscreen-search-font: italic normal normal 20px/24px proxima-nova;
    max-width: none;
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .modal-content > .modal-footer:not(.modal-footer ~ .modal-footer) {
    @include media-breakpoint-up(lg) {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: var(--az-navbar-fullscreen-modal-bottom-fade-size);
        pointer-events: none;
        content: "";
        background: linear-gradient(to bottom, rgb(0 0 0 / 0) 0%, var(--az-navbar-fullscreen-modal-fade-color) 100%);
        transform: translateY(-100%);
      }
    }
  }

  .modal-footer {
    .navbar {
      --bs-navbar-padding-y: var(--az-navbar-fullscreen-modal-footer-navbar-padding-y);
      --bs-navbar-color: var(--bs-sky);
      --bs-navbar-hover-color: var(--bs-sky);
      --bs-navbar-active-color: var(--bs-sky);
      --bs-navbar-brand-margin-end: 0;
      --bs-navbar-brand-color: var(--bs-white);
      --bs-navbar-brand-hover-color: var(--bs-white);
      width: 100%;
      font: var(--az-navbar-fullscreen-modal-footer-font);
      letter-spacing: var(--az-navbar-fullscreen-modal-footer-letter-spacing);
      border-top: 0;
      border-bottom: 0;
    }

    .navbar-brand {
      margin: 0 15px 0 0;
      font: var(--az-navbar-fullscreen-modal-footer-brand-font);
      letter-spacing: var(--az-navbar-fullscreen-modal-footer-brand-letter-spacing);

      &:focus-visible {
        @include border-radius(2px);
        outline: 0;
        box-shadow: 0 0 0 var(--az-navbar-fullscreen-focus-ring-width) var(--az-navbar-fullscreen-focus-ring-color);
      }
    }

    .navbar-nav {
      --bs-nav-link-padding-x: var(--az-navbar-fullscreen-modal-footer-nav-link-padding-x);
      --bs-nav-link-padding-y: var(--az-navbar-fullscreen-modal-footer-nav-link-padding-y);
      --bs-nav-link-color: var(--bs-navbar-color);
      --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }

    .nav-item {
      &:hover {
        background-color: transparent;
      }

      &:has(> .nav-link.active),
      &:has(> .nav-link.is-active),
      &:has(> .nav-link:active),
      &:has(> .nav-link.show) {
        background-color: transparent;
      }
    }

    .nav-link {
      padding-top: var(--bs-nav-link-padding-y);
      padding-bottom: var(--bs-nav-link-padding-y);
      white-space: nowrap;

      &:focus-visible {
        @include border-radius(2px);
        outline: 0;
        box-shadow: 0 0 0 var(--az-navbar-fullscreen-focus-ring-width) var(--az-navbar-fullscreen-focus-ring-color);
      }

      &:active,
      &.active,
      &.is-active {
        color: var(--bs-navbar-active-color);
        background-color: transparent;
      }
    }

    .nav-link-text {
      position: relative;
      &:hover {
        &::after {
          opacity: 1;
          transform: scaleX(1);
        }
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        content: "";
        background: var(--bs-sky);
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
        @include border-radius(999px);
        @include transition(opacity .3s ease-out, transform .3s ease-out);
      }
    }
  }

  .nav-toggle {
    --az-navbar-fullscreen-nav-toggle-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='39.68' height='39.68' viewBox='0 0 39.68 39.68'><circle fill='none' stroke='#{$white}' stroke-width='2' cx='19.84' cy='19.84' r='18.84'/><path fill='none' stroke='#{$white}' stroke-width='2' stroke-linecap='round' d='M16.27 10.42l9.42 9.42-9.42 9.42'/></svg>"))};
    --az-navbar-fullscreen-nav-toggle-icon-hover: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='41.88' height='41.88' viewBox='0 0 41.88 41.88'><circle fill='none' stroke='#{$sky}' stroke-width='3' cx='20.94' cy='20.94' r='19.44'/><path fill='none' stroke='#{$sky}' stroke-width='3' stroke-linecap='round' d='M17.26 11.22l9.72 9.72-9.72 9.72'/></svg>"))};
    --az-navbar-fullscreen-nav-toggle-icon-active: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'><g transform='translate(1 1)'><circle fill='#{$sky}' stroke='none' cx='20' cy='20' r='20' transform='translate(0 40) rotate(-90)'/><path fill='none' stroke='#{$blue}' stroke-width='3' stroke-linecap='round' d='M-23110.98-11472l10,10-10,10' transform='translate(23127.197 11482)'/></g></svg>"))};
    position: relative;
    z-index: 1;
    box-sizing: content-box;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: var(--az-navbar-fullscreen-nav-toggle-size);
    height: var(--az-navbar-fullscreen-nav-toggle-size);
    padding: var(--az-navbar-fullscreen-nav-toggle-padding-y) 0;
    --bs-btn-focus-box-shadow: none;
    border: 0;
    @include border-radius(0);

    &:focus,
    &:focus-visible {
      @include border-radius(2px);
      outline: var(--az-navbar-fullscreen-focus-ring-width) solid var(--az-navbar-fullscreen-focus-ring-color);
      outline-offset: -2px;
      box-shadow: none;
    }

    &.collapsed:hover .nav-toggle-icon {
      background-image: var(--az-navbar-fullscreen-nav-toggle-icon-hover);
    }

    &:not(.collapsed) .nav-toggle-icon {
      background-image: var(--az-navbar-fullscreen-nav-toggle-icon-active);
      transform: scaleX(-1);
    }

    .nav-toggle-icon {
      position: relative;
      box-sizing: content-box;
      display: block;
      flex-shrink: 0;
      width: var(--az-navbar-fullscreen-nav-toggle-size);
      height: var(--az-navbar-fullscreen-nav-toggle-size);
      font-size: var(--az-navbar-fullscreen-nav-toggle-size);
      background-image: var(--az-navbar-fullscreen-nav-toggle-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-clip: content-box;
      background-origin: content-box;
      background-size: contain;
    }
  }

  .nav-toggle-separated {
    position: relative;
    padding-left: var(--az-navbar-fullscreen-nav-toggle-separator-offset);

    &:focus::before,
    &:focus-visible::before {
      background-color: transparent;
    }

    &::before {
      position: absolute;
      top: var(--az-navbar-fullscreen-nav-toggle-padding-y);
      bottom: var(--az-navbar-fullscreen-nav-toggle-padding-y);
      left: 0;
      z-index: 0;
      width: 2px;
      content: "";
      background-color: var(--bs-bloom);
      @include border-radius(999px);
    }
  }
}

.navbar-az-fullscreen-modal-menu {
  // scss-docs-start navbar-az-fullscreen-modal-menu-css-vars
  // default values
  --az-navbar-fullscreen-modal-menu-font-weight: bold;
  --az-navbar-fullscreen-modal-menu-font-size: 20px;
  --az-navbar-fullscreen-modal-menu-line-height: 24px;
  --az-navbar-fullscreen-modal-menu-font-family: proxima-nova-condensed;
  --az-navbar-fullscreen-modal-menu-font: normal normal var(--az-navbar-fullscreen-modal-menu-font-weight) var(--az-navbar-fullscreen-modal-menu-font-size) / var(--az-navbar-fullscreen-modal-menu-line-height) var(--az-navbar-fullscreen-modal-menu-font-family);
  --az-navbar-fullscreen-modal-menu-letter-spacing: .4px;
  --az-navbar-fullscreen-modal-menu-color: var(--bs-white);
  --az-navbar-fullscreen-modal-menu-hover-color: var(--bs-sky);
  --az-navbar-fullscreen-modal-menu-active-color: var(--bs-sky);
  --az-navbar-fullscreen-modal-menu-underline-height: 1px;

  // primary nav
  --az-navbar-fullscreen-modal-menu-primary-font-weight: 600;
  --az-navbar-fullscreen-modal-menu-primary-font-size: 48px;
  --az-navbar-fullscreen-modal-menu-primary-line-height: 48px;
  --az-navbar-fullscreen-modal-menu-primary-font-family: garamond-premier-pro;
  --az-navbar-fullscreen-modal-menu-primary-font: normal normal var(--az-navbar-fullscreen-modal-menu-primary-font-weight) var(--az-navbar-fullscreen-modal-menu-primary-font-size) / var(--az-navbar-fullscreen-modal-menu-primary-line-height) var(--az-navbar-fullscreen-modal-menu-primary-font-family);
  --az-navbar-fullscreen-modal-menu-primary-letter-spacing: .1px;
  --az-navbar-fullscreen-modal-menu-primary-color: var(--az-navbar-fullscreen-modal-menu-color);
  --az-navbar-fullscreen-modal-menu-primary-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
  --az-navbar-fullscreen-modal-menu-primary-active-color: var(--az-navbar-fullscreen-modal-menu-active-color);
  --az-navbar-fullscreen-modal-menu-primary-underline-height: 2px;

  // secondary nav
  --az-navbar-fullscreen-modal-menu-secondary-font-weight: var(--az-navbar-fullscreen-modal-menu-font-weight);
  --az-navbar-fullscreen-modal-menu-secondary-font-size: var(--az-navbar-fullscreen-modal-menu-font-size);
  --az-navbar-fullscreen-modal-menu-secondary-line-height: var(--az-navbar-fullscreen-modal-menu-line-height);
  --az-navbar-fullscreen-modal-menu-secondary-font: normal normal var(--az-navbar-fullscreen-modal-menu-secondary-font-weight) var(--az-navbar-fullscreen-modal-menu-secondary-font-size) / var(--az-navbar-fullscreen-modal-menu-secondary-line-height) var(--az-navbar-fullscreen-modal-menu-secondary-font-family);
  --az-navbar-fullscreen-modal-menu-secondary-letter-spacing: var(--az-navbar-fullscreen-modal-menu-letter-spacing);
  --az-navbar-fullscreen-modal-menu-secondary-color: var(--az-navbar-fullscreen-modal-menu-color);
  --az-navbar-fullscreen-modal-menu-secondary-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
  --az-navbar-fullscreen-modal-menu-secondary-active-color: var(--az-navbar-fullscreen-modal-menu-letter-active-color);
  --az-navbar-fullscreen-modal-menu-secondary-underline-height: var(--az-navbar-fullscreen-modal-menu-underline-height);

  // tertiary nav
  --az-navbar-fullscreen-modal-menu-tertiary-font-weight: var(--az-navbar-fullscreen-modal-menu-font-weight);
  --az-navbar-fullscreen-modal-menu-tertiary-font-size: var(--az-navbar-fullscreen-modal-menu-font-size);
  --az-navbar-fullscreen-modal-menu-tertiary-line-height: var(--az-navbar-fullscreen-modal-menu-line-height);
  --az-navbar-fullscreen-modal-menu-tertiary-font: normal normal var(--az-navbar-fullscreen-modal-menu-tertiary-font-weight) var(--az-navbar-fullscreen-modal-menu-tertiary-font-size) / var(--az-navbar-fullscreen-modal-menu-tertiary-line-height) var(--az-navbar-fullscreen-modal-menu-tertiary-font-family);
  --az-navbar-fullscreen-modal-menu-tertiary-letter-spacing: var(--az-navbar-fullscreen-modal-menu-letter-spacing);
  --az-navbar-fullscreen-modal-menu-tertiary-color: var(--az-navbar-fullscreen-modal-menu-color);
  --az-navbar-fullscreen-modal-menu-tertiary-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
  --az-navbar-fullscreen-modal-menu-tertiary-active-color: var(--az-navbar-fullscreen-modal-menu-active-color);
  --az-navbar-fullscreen-modal-menu-tertiary-underline-height: var(--az-navbar-fullscreen-modal-menu-underline-height);

  --az-navbar-fullscreen-modal-menu-separator-color: var(--bs-azurite);
  --az-navbar-fullscreen-modal-menu-col-spacing-x: 24px;
  --az-navbar-fullscreen-modal-menu-focus-text-inset-x: 2px;
  --az-navbar-fullscreen-modal-menu-focus-text-padding-x: 4px;
  // scss-docs-end navbar-az-fullscreen-modal-menu-css-vars

  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  min-height: 0;

  // @include media-breakpoint-down(xxl) {
  //   --az-navbar-fullscreen-modal-menu-secondary-font-size: 18px;
  //   --az-navbar-fullscreen-modal-menu-secondary-line-height: 22px;
  // }

  @include media-breakpoint-down(xl) {
    // --az-navbar-fullscreen-modal-menu-secondary-font-size: 16px;
    // --az-navbar-fullscreen-modal-menu-secondary-line-height: 20px;
    --az-navbar-fullscreen-modal-menu-primary-font-size: 40px;
    --az-navbar-fullscreen-modal-menu-primary-line-height: 40px;
  }

  .row {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    // align-items: stretch;
    min-height: 0;
  }

  .nav {
    --az-nav-link-text-underline-height: var(--az-navbar-fullscreen-modal-menu-underline-height);
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 18px;
    --bs-nav-link-font-size: var(--az-navbar-fullscreen-modal-menu-font-size);
    --bs-nav-link-font-weight: var(--az-navbar-fullscreen-modal-menu-font-weight);
    --bs-nav-link-color: var(--az-navbar-fullscreen-modal-menu-color);
    --bs-nav-link-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: var(--az-navbar-fullscreen-modal-menu-col-spacing-x);
    padding-left: var(--az-navbar-fullscreen-modal-menu-col-spacing-x);
    font: var(--az-navbar-fullscreen-modal-menu-font);
  }

  @include media-breakpoint-up(lg) {
    .navbar-az-fullscreen-modal-menu-nav-col {
      padding-right: 0;
      scrollbar-color: var(--az-navbar-fullscreen-modal-scrollbar-thumb-color) var(--az-navbar-fullscreen-modal-scrollbar-track-color);
      border-right: 1px solid transparent;
      border-image:
        linear-gradient(
          to bottom,
          rgb(0 0 0 / 0) 0,
          rgb(0 0 0 / 0) var(--az-navbar-fullscreen-modal-top-fade-size),
          var(--bs-azurite) var(--az-navbar-fullscreen-modal-top-fade-size),
          var(--bs-azurite) 100%
        )
        1;

      &.navbar-az-fullscreen-modal-menu-nav-col-tertiary {
        border-right: 0;
        border-image: none;
      }

      &::-webkit-scrollbar-track {
        background: var(--az-navbar-fullscreen-modal-scrollbar-track-color);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--az-navbar-fullscreen-modal-scrollbar-thumb-color);
        @include border-radius(6px);
      }
    }

    .navbar-az-fullscreen-modal-menu-nav-col > .nav {
      min-height: 0;

      > .nav-item:first-child {
        padding-top: var(--az-navbar-fullscreen-modal-top-fade-size);
      }
    }
  }

  .navbar-az-fullscreen-modal-menu-nav-col {
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .nav-item {
      display: flex;

      &:not(:last-child) {
        border-bottom: 1px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
      }
    }
  }

  .navbar-az-fullscreen-modal-menu-nav-col-secondary,
  .navbar-az-fullscreen-modal-menu-nav-col-tertiary {
    .nav-link {
      padding-right: var(--az-navbar-fullscreen-modal-menu-focus-text-padding-x);
      padding-left: var(--az-navbar-fullscreen-modal-menu-focus-text-padding-x);
    }
  }

  .nav-link {
    position: relative;
    display: flex;
    flex-grow: 1;

    &:active,
    &.active,
    &.is-active {
      color: var(--az-navbar-fullscreen-modal-menu-active-color);
      background-color: transparent;
    }

    &:focus-visible {
      @include border-radius(2px);
      outline: 0;
      box-shadow: inset 0 0 0 var(--az-navbar-fullscreen-modal-focus-ring-width) var(--az-navbar-fullscreen-modal-focus-ring-color);
    }

    &:hover {
      color: var(--bs-nav-link-hover-color);
      background-color: transparent;
    }
  }

  .nav-link-text {
    position: relative;
    &:hover {
      &::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: var(--az-nav-link-text-underline-height);
      content: "";
      background: var(--az-navbar-fullscreen-modal-menu-hover-color);
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      @include border-radius(999px);
      @include transition(opacity .3s ease-out, transform .3s ease-out);
    }
  }

  .navbar-az-fullscreen-modal-menu-nav-col-primary {
    border-left: 0;
  }

  .navbar-az-fullscreen-nav-primary {
    --az-nav-link-text-underline-height: var(--az-navbar-fullscreen-modal-menu-primary-underline-height);
    --bs-nav-link-padding-y: 24px;
    --bs-nav-link-font-size: var(--az-navbar-fullscreen-modal-menu-primary-font-size);
    --bs-nav-link-font-weight: var(--az-navbar-fullscreen-modal-menu-primary-font-weight);
    --az-navbar-fullscreen-nav-toggle-size: 40px;
    --az-navbar-fullscreen-nav-toggle-separator-offset: 24px;
    --az-navbar-fullscreen-nav-toggle-padding-y: 6px;
    padding-left: 0;
    margin-left: 0;
    font: var(--az-navbar-fullscreen-modal-menu-primary-font);
    letter-spacing: .1px;
    border-left: 0;
  }

  .navbar-az-fullscreen-modal-menu-submenu {
    --az-navbar-fullscreen-nav-toggle-size: 30px;
    --az-navbar-fullscreen-nav-toggle-separator-offset: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    &.collapse.show,
    &.collapsing {
      min-height: 100%;
    }

    &.collapse,
    &.collapsing,
    &.collapse.show {
      @include transition(none);
    }
  }

  .navbar-az-fullscreen-modal-menu-primary-submenu {
    left: 33.333%;
  }

  .navbar-az-fullscreen-modal-menu-submenu-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .navbar-az-fullscreen-modal-menu-nav-col-secondary {
    flex: 1 1 auto;
  }

  .navbar-az-fullscreen-modal-menu-secondary-submenu {
    left: 50%;
  }

  .navbar-az-fullscreen-modal-menu-nav-col-tertiary {
    border-right: 0;
  }

}

/* Mobile Nav styling */
@include media-breakpoint-down(lg) {
  .navbar-az-fullscreen {
    --az-navbar-fullscreen-height: 69px;
    --az-navbar-fullscreen-brand-height: 45px;
    --az-navbar-fullscreen-toggler-icon-size: 24px;
    --bs-navbar-brand-padding-x: 12px;
    --bs-navbar-brand-padding-y: 12px;
    padding-top: 0;
    padding-bottom: 0;

    .container-lg {
      padding-right: 20px;
      padding-left: 20px;
    }

    .navbar-toggler {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      @include border-radius(4px);
    }
  }

  .navbar-az-fullscreen-modal {

    .navbar-az-fullscreen-modal-menu {
      flex: 1 1 auto;
      min-height: 0;
    }

    .container-lg {
      padding: 2px 20px;
    }

    .navbar-az-fullscreen-modal-menu.container-lg {
      padding-right: 0;
    }

    .modal-footer {
      .nav-item:first-child {
        display: flex;
        flex-grow: 1;
      }

      .nav-item:nth-child(n+2) {
        display: none;
      }
    }

    .navbar-az-fullscreen-search {
      margin-top: 12px;
      margin-bottom: 0;
    }
  }

  .navbar-az-fullscreen-search {
    --az-navbar-fullscreen-search-height: 35px;
    flex: none;
    margin-right: 18px;

    .navbar-toggler-search {
      @include border-radius(4px);
      padding: 6px 5px 4px;

      &:focus,
      &:focus-visible {
        @include border-radius(4px);
      }
    }
  }

  .modal-header {
    .navbar-az-fullscreen-search {
      --az-navbar-fullscreen-search-height: 51px;

      .input-group {
        .form-control {
          font-size: 14px;
          line-height: 17px;
          border-width: 1px;
          @include border-start-radius(4px);
        }

        .btn {
          padding: 10px 14px;
          border-width: 1px;
          @include border-radius(4px);

          &:focus,
          &:focus-visible {
            @include border-radius(4px);
          }
        }
      }

      .search-icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  .modal-open .navbar-az-fullscreen {
    --az-navbar-fullscreen-toggler-icon-size: 28px;
  }
}

/* stylelint-disable selector-max-id */
#navbar-az-fullscreen-nav-mobile-col {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  --az-navbar-fullscreen-back-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'><g transform='translate(1 1)'><circle fill='none' stroke='#{$white}' stroke-width='2' cx='20' cy='20' r='20' transform='translate(0 40) rotate(-90)'/><path fill='none' stroke='#{$white}' stroke-width='2' stroke-linecap='round' d='M-23110.98-11472l10,10-10,10' transform='translate(23127.197 11482)'/></g></svg>"))};
  --az-navbar-fullscreen-back-icon-hover: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='41.88' height='41.88' viewBox='0 0 41.88 41.88'><circle fill='none' stroke='#{$sky}' stroke-width='3' cx='20.94' cy='20.94' r='19.44'/><path fill='none' stroke='#{$sky}' stroke-width='3' stroke-linecap='round' d='M17.26 11.22l9.72 9.72-9.72 9.72'/></svg>"))};
  // https://fonts.google.com/icons?icon.style=Rounded&icon.set=Material+Symbols&icon.size=24&icon.color=%23AB0520&selected=Material+Symbols+Rounded:expand_circle_down:FILL@1;wght@400;GRAD@0;opsz@24&icon.query=expand+ci
  --az-navbar-fullscreen-back-icon-active: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$sky}'><path d='m480-453-95-95q-11-11-27.5-11T329-548q-12 12-12 28.5t12 28.5l123 123q12 12 28 12t28-12l124-124q12-12 11.5-28T631-548q-12-11-28-11.5T575-548l-95 95Zm0 373q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/></svg>"))};
  // https://fonts.google.com/icons?icon.style=Rounded&icon.set=Material+Symbols&icon.size=24&icon.color=%23AB0520&selected=Material+Symbols+Rounded:expand_circle_down:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=expand+ci
  --az-navbar-fullscreen-back-icon-active-child: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$sky}'><path d='m480-453-95-95q-11-11-27.5-11T329-548q-12 12-12 28.5t12 28.5l123 123q12 12 28 12t28-12l124-124q12-12 11.5-28T631-548q-12-11-28-11.5T575-548l-95 95Zm0 373q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/></svg>"))};

  .navbar-az-fullscreen-actions {
    --bs-nav-link-padding-y: 12px;

    .nav-item:not(:last-child) > .nav-link {
      top: 0;
      bottom: 0;
    }

    .nav-link {
      padding: 0 30px;
      font-size: 20px;
      line-height: 38px;
      color: var(--bs-sky);

      &::after {
        top: 0;
        bottom: 0;
      }

      &:focus-visible::after {
        background-color: transparent;
      }
    }
  }

  .navbar-az-fullscreen-modal-menu-nav-col {
    flex: 1 1 auto;
    padding-top: 0;
    padding-right: 20px;
    border-right: 0;

    .nav {
      padding-right: 0;
      padding-left: 0;
    }

    .nav-item {
      margin-right: 0;
    }
  }

  .nav.navbar-az-fullscreen-nav-primary {
    --az-navbar-fullscreen-nav-toggle-size: 38px;
    --az-navbar-fullscreen-nav-toggle-separator-offset: 20px;
    --az-navbar-fullscreen-nav-toggle-padding-y: 6px;
    margin-right: 0;
    margin-left: 0;
    border-top: 2px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
    border-bottom: 2px solid var(--az-navbar-fullscreen-modal-menu-separator-color);

    .nav-item:not(:last-child) {
      border-width: 2px;
    }

    .nav-link {
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 38px;
      line-height: 1em;
      letter-spacing: .38px;
    }
  }

  .navbar-az-fullscreen-modal-menu-nav-col-secondary,
  .navbar-az-fullscreen-modal-menu-nav-col-tertiary {
    --az-navbar-fullscreen-nav-toggle-size: 38px;
    --az-navbar-fullscreen-nav-toggle-separator-offset: 20px;
    --az-navbar-fullscreen-nav-toggle-padding-y: 6px;
    padding-top: 0;
    border-right: 0;

    .nav {
      margin-right: 0;
      margin-left: 0;
      border-top: 1px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
      border-bottom: 1px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
    }

    .nav-link {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: .36px;
    }
  }

  .navbar-az-fullscreen-nav-secondary {
    width: unset;

    .nav-link {
      padding-right: var(--az-navbar-fullscreen-modal-menu-focus-text-padding-x);
      padding-left: var(--az-navbar-fullscreen-modal-menu-focus-text-padding-x);
      font-size: 18px;
    }
  }

  .navbar-az-fullscreen-nav-back {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .navbar-az-fullscreen-nav-back-btn {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px 8px 0;
    color: var(--bs-white);
    border: 0;

    &:focus-visible {
      @include border-radius(2px);
      outline: 0;
      box-shadow: 0 0 0 var(--az-navbar-fullscreen-focus-ring-width) var(--az-navbar-fullscreen-focus-ring-color);
    }

    &::before {
      display: inline-block;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      inline-size: 30px;
      width: 30px;
      block-size: 30px;
      height: 30px;
      vertical-align: bottom;
      content: "";
      background-image: var(--az-navbar-fullscreen-back-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      border: 0;
      transform: rotate(180deg);
    }

    &:hover::before {
      background-image: var(--az-navbar-fullscreen-back-icon-hover);
    }

    span {
      height: 18px;
      padding-left: 8px;
      font-family: proxima-nova-condensed, #{$font-family-sans-serif};
      font-size: 18px;
      line-height: 21px;
      letter-spacing: .36px;
      pointer-events: none;
    }
  }

  .nav-toggle-icon {
    pointer-events: none;
  }

  .nav-toggle:not(.collapsed) .nav-toggle-icon {
    transform: none;
  }

  .navbar-az-fullscreen-nav-menu-mobile {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
  }
}
/* stylelint-enable selector-max-id */

.navbar-az-fullscreen-nav-mobile-menu-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: proxima-nova-condensed, #{$font-family-sans-serif};
  font-size: 22px;
  font-weight: 800;
  line-height: 27px;
  color: var(--bs-sky);
  letter-spacing: .44px;
}

.navbar-az-fullscreen-mobile-footer-btn {
  --az-navbar-fullscreen-modal-footer-navbar-padding-y: 16px;
  padding-right: 20px;
  padding-left: 20px;

  &:focus-visible {
    @include border-radius(2px);
    outline: var(--az-navbar-fullscreen-focus-ring-width) solid var(--az-navbar-fullscreen-focus-ring-color);
    outline-offset: -2px;
    box-shadow: none;
  }

  .navbar-az-fullscreen-mobile-footer-btn-text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0;
    text-align: left;
    pointer-events: none;

    .navbar-brand {
      --az-navbar-fullscreen-modal-footer-brand-letter-spacing: 0.18px;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 0;
      margin-bottom: 4px;
      color: var(--bs-navbar-brand-color);
      pointer-events: none;
    }

    .more-links-text {
      font-weight: initial;
      line-height: 20px;
      color: var(--bs-navbar-brand-color);
      letter-spacing: 0.16px;
      pointer-events: none;
    }
  }

  .navbar-az-fullscreen-mobile-footer-btn-icon {
    --az-navbar-fullscreen-nav-toggle-size: 38px;
    --az-navbar-fullscreen-nav-toggle-padding-y: 4px;
    padding-left: 20px;
    pointer-events: none;
  }
}
