.navbar-az-newer {
  --az-navbar-newer-height: 110px;
  --az-navbar-newer-brand-height: 60px;
  --bs-navbar-brand-padding-y: 25px;
  --bs-navbar-toggler-border-radius: 8px;
  min-height: var(--az-navbar-newer-height);
  background-color: var(--bs-blue);
  border-top: 0;
  border-bottom: 0;

  .navbar-brand {
    img {
      height: var(--az-navbar-newer-brand-height);
      @include border-radius(0);
    }
  }

  .navbar-tools {
    display: flex;
    align-items: center;
  }

  .navbar-actions {
    --az-navbar-newer-actions-font: normal normal bold 22px/27px proxima-nova-condensed;
    --bs-nav-link-padding-x: 15px;
    --bs-nav-link-padding-y: 41.5px;
    --bs-nav-link-color: var(--bs-white);
    line-height: 27px;

    .nav-item {
      &:hover {
        background-color: unset;
      }
    }

    .nav-link {
      padding-top: 41.5px;
      padding-bottom: 41.5px;
      font: var(--az-navbar-newer-actions-font);
      letter-spacing: .66px;

      &:active {
        color: unset;
        background-color: unset;
      }

      &:hover {
        color: var(--bs-white);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--bs-bloom);
        text-underline-offset: 12px;
      }
    }
  }

  .navbar-search {
    margin-right: 24px;
    margin-left: 15px;
  }

  .navbar-toggler {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    min-height: 70px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    background: #b01c2e;
    border: 0;
  }
}
