// Utility Links custom nav styling

.nav.nav-utility {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-font-weight: 500;
  --bs-nav-link-color: var(--bs-dark-silver);
  --bs-nav-link-hover-color: var(--bs-dark-silver);

  margin: 1rem 0 1.5rem;
  .nav-item {
    padding: 0 .6rem;
  }
  .nav-link {
    border-bottom: 2px solid transparent;

    &.active,
    &:active,
    &.is-active {
      background-color: initial;
      border-bottom-color: currentcolor;
      @include border-radius(0);
    }

    &:hover,
    &:focus {
      border-bottom-color: currentcolor;
    }
  }
}
