// Experimental custom az-fullscreen navbar
.navbar-az-fullscreen {
  // scss-docs-start navbar-az-fullscreen-css-vars
  --az-navbar-fullscreen-height: 100px;
  --az-navbar-fullscreen-bg: var(--bs-blue);
  --az-navbar-fullscreen-bottom-border-color: var(--bs-red);
  --az-navbar-fullscreen-bottom-border-width: 3px;
  --az-navbar-fullscreen-brand-height: 60px;
  --az-navbar-fullscreen-toggler-bg: var(--bs-red);
  --az-navbar-fullscreen-toggler-hover-color: var(--bs-chili);
  --az-navbar-fullscreen-toggler-focus-color: var(--bs-bloom);
  --az-navbar-fullscreen-toggler-focus-width: 2px;
  --az-navbar-fullscreen-toggler-focus-offset: 2px;
  --az-navbar-fullscreen-toggler-icon-open: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 35 35' fill='none'><line x1='2.5' y1='2.5' x2='32.5' y2='2.5' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/><line x1='2.5' y1='17.5' x2='32.5' y2='17.5' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/><line x1='2.5' y1='32.5' x2='32.5' y2='32.5' stroke='#{$white}' stroke-width='5' stroke-linecap='round'/></svg>"))};
  // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:close:FILL@0;wght@400;GRAD@0;opsz@24&icon.style=Rounded&icon.query=close&icon.size=24&icon.color=%231e5288
  --az-navbar-fullscreen-toggler-icon-close: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$white}'><path d='M480-424 284-228q-11 11-28 11t-28-11q-11-11-11-28t11-28l196-196-196-196q-11-11-11-28t11-28q11-11 28-11t28 11l196 196 196-196q11-11 28-11t28 11q11 11 11 28t-11 28L536-480l196 196q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-424Z'/></svg>"))};
  --az-navbar-fullscreen-toggler-size: 30px;
  --bs-navbar-padding-y: 20px;
  --bs-navbar-color: var(--bs-white);
  --bs-navbar-hover-color: var(--bs-white);
  --bs-navbar-active-color: var(--bs-sky);
  --bs-navbar-brand-padding-y: 0;
  --bs-navbar-toggler-padding-y: 15px;
  --bs-navbar-toggler-padding-x: 15px;
  --bs-navbar-toggler-icon-bg: var(--az-navbar-fullscreen-toggler-icon-open);
  --bs-navbar-toggler-border-radius: 8px;
  // scss-docs-end navbar-az-fullscreen-css-vars

  min-height: var(--az-navbar-fullscreen-height);
  background-color: var(--az-navbar-fullscreen-bg);
  border-top: 0;
  border-bottom: var(--az-navbar-fullscreen-bottom-border-width) solid var(--az-navbar-fullscreen-bottom-border-color);

  .navbar-brand {
    img {
      height: var(--az-navbar-fullscreen-brand-height);
      @include border-radius(0);
    }
  }

  .navbar-toggler {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: var(--az-navbar-fullscreen-brand-height);
    min-height: var(--az-navbar-fullscreen-brand-height);
    margin-top: var(--bs-navbar-brand-padding-y);
    margin-bottom: var(--bs-navbar-brand-padding-y);
    background-color: var(--az-navbar-fullscreen-toggler-bg);
    border: 0;

    &:hover {
      background-color: var(--az-navbar-fullscreen-toggler-hover-color);
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:focus-visible {
      background-color: var(--az-navbar-fullscreen-toggler-hover-color);
      outline: var(--az-navbar-fullscreen-toggler-focus-width) solid var(--az-navbar-fullscreen-toggler-focus-color);
      outline-offset: var(--az-navbar-fullscreen-toggler-focus-offset);
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    width: var(--az-navbar-fullscreen-toggler-size);
    height: var(--az-navbar-fullscreen-toggler-size);
  }
}

.navbar-az-fullscreen-actions {
  // scss-docs-start navbar-az-fullscreen-actions-css-vars
  --az-navbar-fullscreen-actions-font-weight: bold;
  --az-navbar-fullscreen-actions-font-size: 22px;
  --az-navbar-fullscreen-actions-line-height: 27px;
  --az-navbar-fullscreen-actions-font: normal normal var(--az-navbar-fullscreen-actions-font-weight) var(--az-navbar-fullscreen-actions-font-size) / var(--az-navbar-fullscreen-actions-line-height) proxima-nova-condensed;
  --az-navbar-fullscreen-actions-separator-width: 2px;
  --az-navbar-fullscreen-actions-separator-color: var(--bs-bloom);
  --bs-nav-link-padding-x: 15px;
  --bs-nav-link-padding-y: 16.5px;
  --bs-nav-link-font-weight: var(--az-navbar-fullscreen-actions-font-weight);
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-link-hover-color: var(--bs-sky);
  // scss-docs-end navbar-az-fullscreen-actions-css-vars

  flex-direction: row;
  align-items: center;
  font: var(--az-navbar-fullscreen-actions-font);
  letter-spacing: .66px;

  .nav-item {
    &:hover,
    &:has(> .nav-link.active),
    &:has(> .nav-link.is-active),
    &:has(> .nav-link:active) {
      background-color: transparent;
    }

    &:not(:last-child) > .nav-link {
      &::after {
        position: absolute;
        top: var(--bs-nav-link-padding-y);
        right: 0;
        bottom: var(--bs-nav-link-padding-y);
        width: var(--az-navbar-fullscreen-actions-separator-width);
        content: "";
        background-color: var(--az-navbar-fullscreen-actions-separator-color);
        @include border-radius(999px);
      }
    }
  }

  .nav-link {
    position: relative;
    padding-top: var(--bs-nav-link-padding-y);
    padding-bottom: var(--bs-nav-link-padding-y);

    &:active,
    &.active,
    &.is-active {
      color: var(--bs-navbar-active-color);
      background-color: transparent;
    }

    &:hover {
      .nav-link-text::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }

  .nav-link-text {
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: "";
      background: var(--bs-nav-link-hover-color);
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      @include border-radius(999px);
      @include transition(opacity .3s ease-out, transform .3s ease-out);
    }
  }
}

.navbar-az-fullscreen-search {
  // scss-docs-start navbar-az-fullscreen-search-css-vars
  --az-navbar-fullscreen-search-width: 280px;
  --az-navbar-fullscreen-search-height: 60px;
  --az-navbar-fullscreen-search-color: var(--bs-white);
  --az-navbar-fullscreen-search-hover-color: var(--bs-sky);
  --az-navbar-fullscreen-search-border-width: 2px;
  --az-navbar-fullscreen-search-border-color: var(--az-navbar-fullscreen-search-color);
  // https://fonts.google.com/icons?selected=Material+Symbols+Rounded:search:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%231e5288&icon.query=search&icon.style=Rounded
  --az-navbar-fullscreen-search-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$white}'><path d='M380-320q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z'/></svg>"))};
  --az-navbar-fullscreen-search-font: italic normal normal 18px/22px proxima-nova-condensed;
  --az-navbar-fullscreen-search-separator-color: var(--bs-bloom);
  // scss-docs-end navbar-az-fullscreen-search-css-vars
  flex: 1 1 var(--az-navbar-fullscreen-search-width);
  min-width: 0;
  max-width: var(--az-navbar-fullscreen-search-width);

  &:hover {
    .input-group {
      border-color: var(--az-navbar-fullscreen-search-hover-color);
    }
  }

  .input-group {
    flex-wrap: nowrap;
    height: var(--az-navbar-fullscreen-search-height);
    overflow: hidden;
    border: var(--az-navbar-fullscreen-search-border-width) solid var(--az-navbar-fullscreen-search-border-color);
    @include border-radius(8px);

    .btn {
      padding: 8px;
    }
  }

  .form-control {
    padding: 8px 12px;
    font: var(--az-navbar-fullscreen-search-font);
    color: var(--az-navbar-fullscreen-search-color);
    background-color: transparent;
    border: 0;
    @include border-radius(0);

    &::placeholder {
      color: var(--az-navbar-fullscreen-search-color);
    }

    &[type="search"]::-webkit-search-cancel-button {
      cursor: pointer;
      filter: invert(1) brightness(1.25);
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .btn {
    min-width: var(--az-navbar-fullscreen-search-height);
    margin: 0;
    color: var(--az-navbar-fullscreen-search-color);
    border: 0;
    @include border-radius(0);
  }

  .input-group .btn::before {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;
    width: var(--az-navbar-fullscreen-search-border-width);
    content: "";
    background-color: var(--az-navbar-fullscreen-search-separator-color);
    @include border-radius(999px);
  }

  .search-icon {
    display: block;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    background-image: var(--az-navbar-fullscreen-search-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}


.navbar-az-fullscreen-modal {
  // scss-docs-start navbar-az-fullscreen-modal-css-vars
  --az-navbar-fullscreen-modal-footer-font: normal normal bold 18px/22px proxima-nova-condensed;
  --az-navbar-fullscreen-modal-footer-letter-spacing: .18px;
  --az-navbar-fullscreen-modal-footer-brand-font: normal normal bold 18px/22px proxima-nova-condensed;
  --az-navbar-fullscreen-modal-footer-brand-letter-spacing: .36px;
  --az-navbar-fullscreen-modal-footer-navbar-padding-y: 20px;
  --az-navbar-fullscreen-modal-footer-nav-link-padding-x: 15px;
  --az-navbar-fullscreen-modal-footer-nav-link-padding-y: 10px;
  --az-navbar-fullscreen-modal-fade-size: 56px;
  --az-navbar-fullscreen-modal-fade-color: var(--bs-blue);
  --bs-modal-bg: var(--bs-blue);
  --bs-modal-padding: 0;
  --bs-modal-header-padding: 0;
  --bs-modal-header-border-width: 0;
  --bs-modal-footer-gap: 0;
  --bs-modal-footer-bg: var(--bs-azurite);
  --bs-modal-footer-border-color: var(--bs-blue);
  --bs-modal-footer-border-width: 2px;

  @include media-breakpoint-down(xxl) {
    --az-navbar-fullscreen-modal-footer-navbar-padding-y: 10px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-x: 10px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-y: 10px;
  }

  @include media-breakpoint-down(xl) {
    --az-navbar-fullscreen-modal-footer-font: normal normal bold 16px/20px proxima-nova-condensed;
    --az-navbar-fullscreen-modal-footer-navbar-padding-y: 8px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-x: 10px;
    --az-navbar-fullscreen-modal-footer-nav-link-padding-y: 11px;
  }
  // scss-docs-end navbar-az-fullscreen-modal-css-vars

  .modal-header {
    flex-direction: column;
    align-items: stretch;

    @include media-breakpoint-up(lg) {
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: var(--az-navbar-fullscreen-modal-fade-size);
        pointer-events: none;
        content: "";
        background: linear-gradient(to bottom, var(--az-navbar-fullscreen-modal-fade-color) 0%, rgb(0 0 0 / 0) 100%);
        transform: translateY(100%);
      }
    }

    .navbar-az-fullscreen {
      --az-navbar-fullscreen-bottom-border-width: 0;
      --bs-navbar-toggler-icon-bg: var(--az-navbar-fullscreen-toggler-icon-close);
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    min-height: 0;
  }

  .modal-header,
  .modal-footer {
    position: relative;
    z-index: 3;
    flex: 0 0 auto;
  }

  .modal-body {
    position: relative;
    z-index: 1;
    display: flex; // this is important apparently!
    flex: 1 1 auto;
    min-height: 0;
    overflow: hidden;
  }

  .navbar-az-fullscreen-search {
    --az-navbar-fullscreen-search-color: var(--bs-cool-gray);
    max-width: none;
  }

  .modal-content > .modal-footer:not(.modal-footer ~ .modal-footer) {
    @include media-breakpoint-up(lg) {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: var(--az-navbar-fullscreen-modal-fade-size);
        pointer-events: none;
        content: "";
        background: linear-gradient(to bottom, rgb(0 0 0 / 0) 0%, var(--az-navbar-fullscreen-modal-fade-color) 100%);
        transform: translateY(-100%);
      }
    }
  }

  .modal-footer {
    .navbar {
      --bs-navbar-padding-y: var(--az-navbar-fullscreen-modal-footer-navbar-padding-y);
      --bs-navbar-color: var(--bs-sky);
      --bs-navbar-hover-color: var(--bs-sky);
      --bs-navbar-active-color: var(--bs-sky);
      --bs-navbar-brand-margin-end: 0;
      --bs-navbar-brand-color: var(--bs-white);
      --bs-navbar-brand-hover-color: var(--bs-white);
      width: 100%;
      font: var(--az-navbar-fullscreen-modal-footer-font);
      letter-spacing: var(--az-navbar-fullscreen-modal-footer-letter-spacing);
      border-top: 0;
      border-bottom: 0;
    }

    .navbar-brand {
      margin: 0 15px 0 0;
      font: var(--az-navbar-fullscreen-modal-footer-brand-font);
      letter-spacing: var(--az-navbar-fullscreen-modal-footer-brand-letter-spacing);
    }

    .navbar-nav {
      --bs-nav-link-padding-x: var(--az-navbar-fullscreen-modal-footer-nav-link-padding-x);
      --bs-nav-link-padding-y: var(--az-navbar-fullscreen-modal-footer-nav-link-padding-y);
      --bs-nav-link-color: var(--bs-navbar-color);
      --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }

    .nav-item {
      &:hover {
        background-color: transparent;
      }

      &:has(> .nav-link.active),
      &:has(> .nav-link.is-active),
      &:has(> .nav-link:active),
      &:has(> .nav-link.show) {
        background-color: transparent;
      }
    }

    .nav-link {
      padding-top: var(--bs-nav-link-padding-y);
      padding-bottom: var(--bs-nav-link-padding-y);
      white-space: nowrap;

      &:active,
      &.active,
      &.is-active {
        color: var(--bs-navbar-active-color);
        background-color: transparent;
      }
    }

    .nav-link-text {
      position: relative;
      &:hover {
        &::after {
          opacity: 1;
          transform: scaleX(1);
        }
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        content: "";
        background: var(--bs-sky);
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
        @include border-radius(999px);
        @include transition(opacity .3s ease-out, transform .3s ease-out);
      }
    }
  }

  .nav-toggle {
    --az-navbar-fullscreen-nav-toggle-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'><g transform='translate(1 1)'><circle fill='none' stroke='#{$white}' stroke-width='2' cx='20' cy='20' r='20' transform='translate(0 40) rotate(-90)'/><path fill='none' stroke='#{$white}' stroke-width='2' stroke-linecap='round' d='M-23110.98-11472l10,10-10,10' transform='translate(23127.197 11482)'/></g></svg>"))};
    --az-navbar-fullscreen-nav-toggle-icon-hover: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'><g transform='translate(1 1)'><circle fill='none' stroke='#{$sky}' stroke-width='2' cx='20' cy='20' r='20' transform='translate(0 40) rotate(-90)'/><path fill='none' stroke='#{$sky}' stroke-width='2' stroke-linecap='round' d='M-23110.98-11472l10,10-10,10' transform='translate(23127.197 11482)'/></g></svg>"))};
    --az-navbar-fullscreen-nav-toggle-icon-active: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'><g transform='translate(1 1)'><circle fill='#{$sky}' stroke='none' cx='20' cy='20' r='20' transform='translate(0 40) rotate(-90)'/><path fill='none' stroke='#{$blue}' stroke-width='3' stroke-linecap='round' d='M-23110.98-11472l10,10-10,10' transform='translate(23127.197 11482)'/></g></svg>"))};
    --az-navbar-fullscreen-nav-toggle-size: 30px;
    --az-navbar-fullscreen-nav-toggle-separator-offset: 16px;
    position: relative;
    box-sizing: content-box;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: var(--az-navbar-fullscreen-nav-toggle-size);
    height: var(--az-navbar-fullscreen-nav-toggle-size);
    padding: 0 0 0 var(--az-navbar-fullscreen-nav-toggle-separator-offset);
    border: 0;
    @include border-radius(0);

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      content: "";
      background-color: var(--bs-bloom);
      @include border-radius(999px);
    }

    &:focus {
      box-shadow: none;
    }

    &:not([aria-expanded="true"]):hover .nav-toggle-icon {
      background-image: var(--az-navbar-fullscreen-nav-toggle-icon-hover);
    }

    &[aria-expanded="true"] .nav-toggle-icon {
      background-image: var(--az-navbar-fullscreen-nav-toggle-icon-active);
      transform: scaleX(-1);
    }

    .nav-toggle-icon {
      --az-nav-toggle-icon-size: var(--az-navbar-fullscreen-nav-toggle-size);
      position: relative;
      box-sizing: content-box;
      display: block;
      flex-shrink: 0;
      width: var(--az-nav-toggle-icon-size);
      height: var(--az-nav-toggle-icon-size);
      font-size: var(--az-nav-toggle-icon-size);
      background-image: var(--az-navbar-fullscreen-nav-toggle-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-clip: content-box;
      background-origin: content-box;
      background-size: contain;
    }
  }

  .nav-toggle-hover {
    @extend .nav-toggle;
    --az-navbar-fullscreen-nav-toggle-icon-hover: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 42 42'><g transform='translate(1 1)'><circle fill='none' stroke='#{$sky}' stroke-width='3' cx='20' cy='20' r='20' transform='translate(0 40) rotate(-90)'/><path fill='none' stroke='#{$sky}' stroke-width='3' stroke-linecap='round' d='M-23110.98-11472l10,10-10,10' transform='translate(23127.197 11482)'/></g></svg>"))};
    .nav-toggle-icon {
      /* stylelint-disable-next-line function-disallowed-list */
      --az-nav-toggle-icon-size: calc(var(--az-navbar-fullscreen-nav-toggle-size) - 2px);
    }
  }
}


.navbar-az-fullscreen-modal-menu {
  // scss-docs-start navbar-az-fullscreen-modal-menu-css-vars
  // default values
  --az-navbar-fullscreen-modal-menu-font-weight: bold;
  --az-navbar-fullscreen-modal-menu-font-size: 20px;
  --az-navbar-fullscreen-modal-menu-line-height: 24px;
  --az-navbar-fullscreen-modal-menu-font-family: proxima-nova-condensed;
  --az-navbar-fullscreen-modal-menu-font: normal normal var(--az-navbar-fullscreen-modal-menu-font-weight) var(--az-navbar-fullscreen-modal-menu-font-size) / var(--az-navbar-fullscreen-modal-menu-line-height) var(--az-navbar-fullscreen-modal-menu-font-family);
  --az-navbar-fullscreen-modal-menu-letter-spacing: .4px;
  --az-navbar-fullscreen-modal-menu-color: var(--bs-white);
  --az-navbar-fullscreen-modal-menu-hover-color: var(--bs-sky);
  --az-navbar-fullscreen-modal-menu-active-color: var(--bs-sky);
  --az-navbar-fullscreen-modal-menu-underline-height: 1px;

  // primary nav
  --az-navbar-fullscreen-modal-menu-primary-font-weight: 600;
  --az-navbar-fullscreen-modal-menu-primary-font-size: 48px;
  --az-navbar-fullscreen-modal-menu-primary-line-height: 48px;
  --az-navbar-fullscreen-modal-menu-primary-font-family: garamond-premier-pro;
  --az-navbar-fullscreen-modal-menu-primary-font: normal normal var(--az-navbar-fullscreen-modal-menu-primary-font-weight) var(--az-navbar-fullscreen-modal-menu-primary-font-size) / var(--az-navbar-fullscreen-modal-menu-primary-line-height) var(--az-navbar-fullscreen-modal-menu-primary-font-family);
  --az-navbar-fullscreen-modal-menu-primary-letter-spacing: .1px;
  --az-navbar-fullscreen-modal-menu-primary-color: var(--az-navbar-fullscreen-modal-menu-color);
  --az-navbar-fullscreen-modal-menu-primary-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
  --az-navbar-fullscreen-modal-menu-primary-active-color: var(--az-navbar-fullscreen-modal-menu-active-color);
  --az-navbar-fullscreen-modal-menu-primary-underline-height: 2px;

  // secondary nav
  --az-navbar-fullscreen-modal-menu-secondary-font-weight: var(--az-navbar-fullscreen-modal-menu-font-weight);
  --az-navbar-fullscreen-modal-menu-secondary-font-size: var(--az-navbar-fullscreen-modal-menu-font-size);
  --az-navbar-fullscreen-modal-menu-secondary-line-height: var(--az-navbar-fullscreen-modal-menu-line-height);
  --az-navbar-fullscreen-modal-menu-secondary-font: normal normal var(--az-navbar-fullscreen-modal-menu-secondary-font-weight) var(--az-navbar-fullscreen-modal-menu-secondary-font-size) / var(--az-navbar-fullscreen-modal-menu-secondary-line-height) var(--az-navbar-fullscreen-modal-menu-secondary-font-family);
  --az-navbar-fullscreen-modal-menu-secondary-letter-spacing: var(--az-navbar-fullscreen-modal-menu-letter-spacing);
  --az-navbar-fullscreen-modal-menu-secondary-color: var(--az-navbar-fullscreen-modal-menu-color);
  --az-navbar-fullscreen-modal-menu-secondary-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
  --az-navbar-fullscreen-modal-menu-secondary-active-color: var(--az-navbar-fullscreen-modal-menu-letter-active-color);
  --az-navbar-fullscreen-modal-menu-secondary-underline-height: var(--az-navbar-fullscreen-modal-menu-underline-height);

  // tertiary nav
  --az-navbar-fullscreen-modal-menu-tertiary-font-weight: var(--az-navbar-fullscreen-modal-menu-font-weight);
  --az-navbar-fullscreen-modal-menu-tertiary-font-size: var(--az-navbar-fullscreen-modal-menu-font-size);
  --az-navbar-fullscreen-modal-menu-tertiary-line-height: var(--az-navbar-fullscreen-modal-menu-line-height);
  --az-navbar-fullscreen-modal-menu-tertiary-font: normal normal var(--az-navbar-fullscreen-modal-menu-tertiary-font-weight) var(--az-navbar-fullscreen-modal-menu-tertiary-font-size) / var(--az-navbar-fullscreen-modal-menu-tertiary-line-height) var(--az-navbar-fullscreen-modal-menu-tertiary-font-family);
  --az-navbar-fullscreen-modal-menu-tertiary-letter-spacing: var(--az-navbar-fullscreen-modal-menu-letter-spacing);
  --az-navbar-fullscreen-modal-menu-tertiary-color: var(--az-navbar-fullscreen-modal-menu-color);
  --az-navbar-fullscreen-modal-menu-tertiary-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
  --az-navbar-fullscreen-modal-menu-tertiary-active-color: var(--az-navbar-fullscreen-modal-menu-active-color);
  --az-navbar-fullscreen-modal-menu-tertiary-underline-height: var(--az-navbar-fullscreen-modal-menu-underline-height);

  --az-navbar-fullscreen-modal-menu-separator-color: var(--bs-azurite);
  --az-navbar-fullscreen-modal-menu-col-spacing-x: 24px;
  // scss-docs-end navbar-az-fullscreen-modal-menu-css-vars

  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  min-height: 0;

  // @include media-breakpoint-down(xxl) {
  //   --az-navbar-fullscreen-modal-menu-secondary-font-size: 18px;
  //   --az-navbar-fullscreen-modal-menu-secondary-line-height: 22px;
  // }

  @include media-breakpoint-down(xl) {
    // --az-navbar-fullscreen-modal-menu-secondary-font-size: 16px;
    // --az-navbar-fullscreen-modal-menu-secondary-line-height: 20px;
    --az-navbar-fullscreen-modal-menu-primary-font-size: 40px;
    --az-navbar-fullscreen-modal-menu-primary-line-height: 40px;
  }

  .row {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    // align-items: stretch;
    min-height: 0;
  }

  .nav {
    --az-nav-link-text-underline-height: var(--az-navbar-fullscreen-modal-menu-underline-height);
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 18px;
    --bs-nav-link-font-size: var(--az-navbar-fullscreen-modal-menu-font-size);
    --bs-nav-link-font-weight: var(--az-navbar-fullscreen-modal-menu-font-weight);
    --bs-nav-link-color: var(--az-navbar-fullscreen-modal-menu-color);
    --bs-nav-link-hover-color: var(--az-navbar-fullscreen-modal-menu-hover-color);
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: var(--az-navbar-fullscreen-modal-menu-col-spacing-x);
    margin-left: var(--az-navbar-fullscreen-modal-menu-col-spacing-x);
    font: var(--az-navbar-fullscreen-modal-menu-font);
  }

  .navbar-az-fullscreen-modal-menu-nav-col {
    min-height: 0;
    padding-top: 32px; // 56px - 24px
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid var(--bs-azurite);

    .nav-item {
      display: flex;

      &:not(:last-child) {
        border-bottom: 1px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
      }
    }
  }

  .nav-link {
    position: relative;
    display: flex;
    flex-grow: 1;

    &:active,
    &.active,
    &.is-active {
      color: var(--az-navbar-fullscreen-modal-menu-active-color);
      background-color: transparent;
    }

    &:hover {
      color: var(--bs-nav-link-hover-color);
      background-color: transparent;
    }
  }

  .nav-link-text {
    position: relative;
    &:hover {
      &::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: var(--az-nav-link-text-underline-height);
      content: "";
      background: var(--az-navbar-fullscreen-modal-menu-hover-color);
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
      @include border-radius(999px);
      @include transition(opacity .3s ease-out, transform .3s ease-out);
    }
  }

  .navbar-az-fullscreen-nav-primary {
    --az-nav-link-text-underline-height: var(--az-navbar-fullscreen-modal-menu-primary-underline-height);
    --bs-nav-link-padding-y: 24px;
    --bs-nav-link-font-size: var(--az-navbar-fullscreen-modal-menu-primary-font-size);
    --bs-nav-link-font-weight: var(--az-navbar-fullscreen-modal-menu-primary-font-weight);
    margin-left: 0;
    font: var(--az-navbar-fullscreen-modal-menu-primary-font);

    > .nav-item > .nav-toggle {
      --az-navbar-fullscreen-nav-toggle-size: 40px;
      --az-navbar-fullscreen-nav-toggle-separator-offset: 24px;
    }
  }

  .navbar-az-fullscreen-modal-menu-submenu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    &.collapse.show,
    &.collapsing {
      min-height: 100%;
    }

    &.collapse,
    &.collapsing,
    &.collapse.show {
      @include transition(none);
    }
  }

  .navbar-az-fullscreen-modal-menu-primary-submenu {
    left: 33.333%;
  }

  .navbar-az-fullscreen-modal-menu-submenu-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .navbar-az-fullscreen-modal-menu-nav-col-secondary {
    flex: 1 1 auto;
  }

  .navbar-az-fullscreen-modal-menu-secondary-submenu {
    left: 50%;
  }

  .navbar-az-fullscreen-modal-menu-nav-col-tertiary {
    border-right: 0;
  }

}


/* Mobile Nav styling */
@include media-breakpoint-down(lg) {
  .navbar-az-fullscreen {
    --az-navbar-fullscreen-height: 69px;
    --az-navbar-fullscreen-brand-height: 45px;
    --bs-navbar-brand-padding-x: 12px;
    --bs-navbar-brand-padding-y: 12px;
    padding-top: 0;
    padding-bottom: 0;

    .container-lg {
      padding-right: 20px;
      padding-left: 20px;
    }

    .navbar-toggler {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      @include border-radius(4px);
    }
  }

  .navbar-az-fullscreen-modal {
    .modal-body {
      overflow: auto;
    }

    .container-lg {
      padding-right: 20px;
      padding-left: 20px;
    }

    .modal-footer {
      .nav-item:first-child {
        display: flex;
        flex-grow: 1;
      }

      .nav-item:nth-child(n+2) {
        display: none;
      }
    }
  }

  .navbar-az-fullscreen-search {
    --az-navbar-fullscreen-search-height: 45px;
    flex: none;

    .input-group {
      height: 51px;

      .btn::before {
        left: -8px;
      }
    }

    .navbar-toggler-search {
      padding: 0;
    }

    /* stylelint-disable selector-max-id */
    #navbar-az-fullscreen-modal-search + .btn {
      width: 40px;
      min-width: unset;
      min-height: unset;
      padding: 0;
      margin-right: 4px;
    }
    /* stylelint-enable selector-max-id */
  }

  header .navbar-toggler-icon {
    width: 2.75rem;
    height: 2.75rem;
    transform: scaleX(.8) scaleY(1.25);
  }
}

/* stylelint-disable selector-max-id */
#navbar-az-fullscreen-nav-mobile-col {
  // https://fonts.google.com/icons?icon.style=Rounded&icon.set=Material+Symbols&icon.size=24&icon.color=%231e5288&selected=Material+Symbols+Rounded:expand_circle_down:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=expand+ci
  --az-navbar-fullscreen-back-icon: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$white}'><path d='m480-453-95-95q-11-11-27.5-11T329-548q-12 12-12 28.5t12 28.5l123 123q12 12 28 12t28-12l124-124q12-12 11.5-28T631-548q-12-11-28-11.5T575-548l-95 95Zm0 373q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/></svg>"))};
  // https://fonts.google.com/icons?icon.style=Rounded&icon.set=Material+Symbols&icon.size=24&icon.color=%23AB0520&selected=Material+Symbols+Rounded:expand_circle_down:FILL@1;wght@400;GRAD@0;opsz@24&icon.query=expand+ci
  --az-navbar-fullscreen-back-icon-active: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$sky}'><path d='m480-453-95-95q-11-11-27.5-11T329-548q-12 12-12 28.5t12 28.5l123 123q12 12 28 12t28-12l124-124q12-12 11.5-28T631-548q-12-11-28-11.5T575-548l-95 95Zm0 373q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/></svg>"))};
  // https://fonts.google.com/icons?icon.style=Rounded&icon.set=Material+Symbols&icon.size=24&icon.color=%23AB0520&selected=Material+Symbols+Rounded:expand_circle_down:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=expand+ci
  --az-navbar-fullscreen-back-icon-active-child: #{escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#{$sky}'><path d='m480-453-95-95q-11-11-27.5-11T329-548q-12 12-12 28.5t12 28.5l123 123q12 12 28 12t28-12l124-124q12-12 11.5-28T631-548q-12-11-28-11.5T575-548l-95 95Zm0 373q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/></svg>"))};

  .navbar-az-fullscreen-actions {
    --bs-nav-link-padding-y: 12px;

    .nav-link,
    .vr {
      font-size: 20px;
      line-height: 24px;
      color: var(--bs-sky);
    }
  }

  .navbar-az-fullscreen-modal-menu-nav-col {
    padding-top: 0;
    border-right: 0;
  }

  .nav.navbar-az-fullscreen-nav-primary {
    margin-right: 0;
    margin-left: 0;
    border-top: 2px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
    border-bottom: 2px solid var(--az-navbar-fullscreen-modal-menu-separator-color);

    .nav-link {
      font-size: 38px;
      line-height: 1em;
    }
  }

  .navbar-az-fullscreen-modal-menu-nav-col-secondary,
  .navbar-az-fullscreen-modal-menu-nav-col-tertiary {
    padding-top: 0;
    border-right: 0;

    .nav {
      margin-right: 0;
      margin-left: 0;
      border-top: 1px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
      border-bottom: 1px solid var(--az-navbar-fullscreen-modal-menu-separator-color);
    }
  }

  .navbar-az-fullscreen-nav-secondary {
    width: unset;

    .nav-link {
      padding-right: 0;
      padding-left: 0;
      font-size: 18px;
    }

    .nav-toggle {
      padding: 0 0 0 12px;
    }

    .nav-toggle-icon {
      width: 42px;
      height: 42px;
    }

    hr {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .navbar-az-fullscreen-nav-back-btn {
    padding: 8px 0;
    color: var(--bs-white);

    &::before {
      display: inline-block;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      inline-size: 24px;
      width: 24px;
      block-size: 24px;
      height: 24px;
      margin-top: .5rem;
      margin-bottom: 0;
      line-height: 1;
      vertical-align: bottom;
      content: "";
      background-image: var(--az-navbar-fullscreen-back-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      border: 0;
      transform: rotate(90deg);
    }
  }

  .nav-toggle-icon {
    pointer-events: none;
  }
}
/* stylelint-enable selector-max-id */

.navbar-az-fullscreen-nav-mobile-menu-heading {
  font-family: proxima-nova-condensed, sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 27px;
  color: var(--bs-sky);
  letter-spacing: .44px;
}

.navbar-az-fullscreen-mobile-footer-btn > * {
  pointer-events: none;
}

.navbar-az-fullscreen-mobile-footer-btn-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0;
  text-align: left;
}
