.navbar-az {
  font-family: proxima-nova-condensed, var(--bs-body-font-family);

  // Sharpen all nested buttons
  .btn {
    --bs-btn-border-radius: 0;
  }

  // Primary navigation level
  .navbar-nav {
    --bs-navbar-nav-link-padding-x: .5rem;

    // Unsets background colors provided by override/navbar
    .nav-item {
      &:hover {
        background-color: unset;
      }

      &:has(> .nav-link.active),
      &:has(> .nav-link.is-active),
      &:has(> .nav-link:active),
      &:has(> .nav-link.show) {
        background-color: unset;
      }
    }
  }

  // First primary nav link should have no left border
  /* stylelint-disable selector-max-class, selector-max-compound-selectors */
  .navbar-nav > .nav-item:first-child > .nav-link,
  .navbar-nav > .nav-item:first-child > .btn-group > .nav-link:first-child {
    padding-inline-start: 0;
    border-left: 0;
  }
  /* stylelint-enable selector-max-class, selector-max-compound-selectors */

  .nav-link {
    // Transfer spacing from padding to margin so left border is drawn correctly
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $navbar-nav-link-padding-y;
    margin-bottom: $navbar-nav-link-padding-y;

    /* Prevent nav links from wrapping */
    white-space: nowrap;
    border-left: 1px solid $cool-gray;

    &.active,
    &.is-active,
    &:active,
    &.show,
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: $red;
      text-underline-offset: 4px;
      background-color: unset;
    }
  }

  /* Primary navigation split dropdown toggle */
  .dropdown-toggle-split {
    padding-right: .5rem;
    padding-left: 0;
    --bs-btn-border-width: 0;
  }

  .dropdown-toggle-split::after {
    font-family: "Material Symbols Rounded", sans-serif;
    font-size: 1.75rem;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    color: $azurite;
    vertical-align: 0;
    content: "expand_circle_down";
    border: 0;
  }

  /* Primary navigation split dropdown toggled */
  .dropdown-toggle-split:active::after,
  .dropdown-toggle-split:hover::after,
  .dropdown-toggle-split[aria-expanded="true"]::after {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
    color: $red;
  }
  .dropdown-toggle-split:active,
  .dropdown-toggle-split[aria-expanded="true"] {
    border: 0;
  }

  // Secondary navigation level
  .dropdown-menu {
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-spacer: 0;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: #{$blue};
    --bs-dropdown-border-radius: 0;
    --bs-dropdown-border-width: 0;
    --bs-dropdown-link-color: #{$azurite};
    --bs-dropdown-link-hover-color: #{$blue};
    --bs-dropdown-link-hover-bg: #{$cool-gray};
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: .625rem;
    border-top: 2px solid var(--bs-dropdown-border-color);
    box-shadow: var(--bs-dropdown-box-shadow); // force shadow here - needed because shadows are disabled globally

    .btn-group {
      display: flex;
      // align-items: center;
      width: 100%;
      .btn {
        margin-left: 0;
      }
    }

    .dropdown-toggle-split {
      // padding-top: 7px; // is this robust? or a rounding error?
      // padding-bottom: 7px;
      padding-left: .5rem;
      margin-inline-start: auto; // pushes to the far right
      border-bottom: 1px solid $cool-gray;
      border-left: 1px solid $cool-gray;
    }
    .dropdown-toggle-split::after {
      font-family: "Material Symbols Rounded", sans-serif;
      font-size: 1.25rem;
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      color: $azurite;
      vertical-align: 0;
      content: "add";
      border: 0;
    }

    .dropdown-toggle-split:hover,
    .dropdown-toggle-split[aria-expanded="true"] {
      background-color: $cool-gray;
    }

    .dropdown-toggle-split[aria-expanded="true"]::after {
      content: "remove";
    }
  }

  .dropdown-item {
    flex: 1 1 auto;
    min-width: 0; // allows text truncation if needed
    font-weight: 600;
    border-bottom: 1px solid $cool-gray;
    border-left: unset;
  }

  // Tertiary navigation level
  .dropdown-menu .collapse,
  .dropdown-menu .collapsing {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: $cool-gray;


    a {
      display: block;
      padding-top: .625rem;
      padding-bottom: .625rem;
      padding-left: var(--bs-navbar-nav-link-padding-x);
      font-weight: var(--bs-nav-link-font-weight);
      color: var(--bs-nav-link-color);
      text-decoration: none;
      border-bottom: 1px solid $cool-gray;
      --bs-navbar-nav-link-padding-x: 1rem;

      /* stylelint-disable selector-no-qualifying-type */
      &.active,
      &.is-active,
      &:active,
      &.show,
      &:hover {
        color: $blue;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: $blue;
        text-underline-offset: 4px;
      }
      /* stylelint-enable selector-no-qualifying-type */
    }
  }
  .dropdown-menu .collapsing {
    height: auto;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
  }
}
