// Photo Gallery custom component

.az-gallery-container:not(:has(.az-gallery-modal)) {
  @include border-radius();

  .az-gallery-caption {
    background-color: unset;
    color: revert;
  }
}

.az-gallery {
  width: 100%;
  height: 100%;

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: drop-shadow(0 0 2px rgb(0, 0, 0)) drop-shadow(0 0 1px rgb(0, 0, 0));
  }
}

.az-gallery-modal .btn-close {
  padding: .5rem 1rem;
  font-size: 1.5rem;
  opacity: 1;
}

.az-gallery-image {
  min-height: 0;
}

.az-gallery-caption {
  position: static;
  width: 100%;
  padding: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.az-gallery-modal .az-gallery-caption {
  max-width: 850px;
}

@include media-breakpoint-up(md) {
  .az-gallery-image {
    height: 100%;
  }
}
