//
// > Additional custom styles
//

// >> Column split utility.

[class*="split-"] {
  display: block;
}
.split-2-col {
  column-count: 2;
}
.split-3-col {
  column-count: 3;
}
.split-4-col {
  column-count: 4;
}
@include media-breakpoint-up(sm) {
  .split-sm-2-col {
    column-count: 2;
  }
  .split-sm-3-col {
    column-count: 3;
  }
  .split-sm-4-col {
    column-count: 4;
  }
}
@include media-breakpoint-up(md) {
  .split-md-2-col {
    column-count: 2;
  }
  .split-md-3-col {
    column-count: 3;
  }
  .split-md-4-col {
    column-count: 4;
  }
}
@include media-breakpoint-up(lg) {
  .split-lg-2-col {
    column-count: 2;
  }
  .split-lg-3-col {
    column-count: 3;
  }
  .split-lg-4-col {
    column-count: 4;
  }
}

// >> Border thick utility.

.border-thick {
  // stylelint-disable-next-line declaration-no-important
  border-width: .25rem !important;
}

// >> Figure caption.

.figure-caption {
  padding-top: .5em;
  padding-bottom: .9375em;
  border-bottom: 1px solid $gray-200;
}
