/*
* > COLOR CLASSES
*/

/*
* >> Color and Background Helpers
*/

// >>> Brand
@each $color, $value in $colors {
  .text-bg-#{$color} {
    color: color-contrast($value) if($enable-important-utilities, !important, null);
    background-color: RGBA(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity, 1)) if($enable-important-utilities, !important, null);
  }
}

// >>> Brand Transparent
@each $color, $value in $colors {
  .text-bg-transparent-#{$color} {
    color: color-contrast($value) if($enable-important-utilities, !important, null);
    @include background-transparent($value);
  }
}
@each $color, $value in $colors {
  .bg-transparent-#{$color} {
    @include background-transparent($value);
  }
}

// >>> Background Gradient
@each $color, $value in $colors {
  .text-bg-gradient-#{$color} {
    color: color-contrast($value) if($enable-important-utilities, !important, null);
    @include background-gradient($value);
  }
}
@each $color, $value in $colors {
  .bg-gradient-#{$color} {
    @include background-gradient($value);
  }
}

// >>> Grays
@each $color, $value in $grays {
  .text-bg-gray-#{$color} {
    color: color-contrast($value) if($enable-important-utilities, !important, null);
    background-color: $value if($enable-important-utilities, !important, null);
  }
}

.text-bg-dark {
  .btn-close {
    color: $white;
  }
}


// >> Arizona header

.arizona-header {
  position: relative;
}
.block-a-line-logo {
  width: auto;
  height: 36px;
  margin: 5px 20px 0 10px;
}
.arizona-line-logo {
  width: 211px;
  height: 16px;
  margin: 17px 20px 17px 10px;
}
@include media-breakpoint-up(sm) {
  .arizona-line-logo {
    width: 266.41px;
    height: 19.8px;
    margin: 15.11px 20px 15.1px 10px;
  }
}
.arizona-logo {
  float: left;
  max-width: 80%;
}
.redbar-buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  max-height: 50px;
}
.btn-redbar .icon-text {
  display: block;
  margin: -5px 0;
  font-size: 10px;
  line-height: 10px;
}
.btn-redbar .icon {
  margin: -5px;
  font-size: 24px;
  line-height: 24px;
}
.btn.btn-redbar {
  width: 60px;
  height: 50px;
  padding: 0;
  color: $white;
  background-color: $red;
  border: 2px solid $red;
  &:focus,
  &.focus {
    background-color: $chili;
    border: 2px solid $chili;
    outline: 0;
    box-shadow: none;
  }
}

// >> Column split utility.

[class*="split-"] {
  display: block;
}
.split-2-col {
  column-count: 2;
}
.split-3-col {
  column-count: 3;
}
.split-4-col {
  column-count: 4;
}
@include media-breakpoint-up(sm) {
  .split-sm-2-col {
    column-count: 2;
  }
  .split-sm-3-col {
    column-count: 3;
  }
  .split-sm-4-col {
    column-count: 4;
  }
}
@include media-breakpoint-up(md) {
  .split-md-2-col {
    column-count: 2;
  }
  .split-md-3-col {
    column-count: 3;
  }
  .split-md-4-col {
    column-count: 4;
  }
}
@include media-breakpoint-up(lg) {
  .split-lg-2-col {
    column-count: 2;
  }
  .split-lg-3-col {
    column-count: 3;
  }
  .split-lg-4-col {
    column-count: 4;
  }
}

// >> Border thick utility.

.border-thick {
  // stylelint-disable-next-line declaration-no-important
  border-width: .25rem !important;
}

// >> Figure caption.

.figure-caption {
  padding-top: .5em;
  padding-bottom: .9375em;
  border-bottom: 1px solid $gray-200;
}
