/*
* > COLORS
*/

// >> Brand Colors

// >>> Upstream Bootstrap grayscale
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
// $gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
// $gray-700: #567a9e;
$gray-800: #343a40;
// $gray-900: #212529;

// $az-red: #ab0520;
// $az-blue: #0c234b;
// $az-chili: #8b0015;
// $az-azurite: #1e5288;

// fusv-disable
// $grays: (
//   "100": $gray-100,
//   "200": $gray-200,
//   "300": $gray-300,
//   "400": $gray-400,
//   "500": $gray-500,
//   "600": $gray-600,
//   "700": $gray-700,
//   "800": $gray-800,
//   "900": $gray-900
// );
// fusv-enable

$blue: #0c234b; // move to overrides/variables
$bloom: #ef4056;
$chili: #8b0015;
$sky: #81d3eb;
$oasis: #378dbd;
$azurite: #1e5288;
$midnight: #001c48;
$cool-gray: #e2e9eb;
$warm-gray: #f4ede5;
$leaf: #70b865;
$river: #007d84;
$silver: #9eabae;
$dark-silver: #49595e;  // to be used for text only
$mesa: #a95c42;
$ash: #403635;
$sage: #4a634e;
$white: #fff; // move to overrides/variables
$black: #000; // move to overrides/variables

// fusv-disable
$bloom-100: tint-color($bloom, 80%) !default;
$bloom-200: tint-color($bloom, 60%) !default;
$bloom-300: tint-color($bloom, 40%) !default;
$bloom-400: tint-color($bloom, 20%) !default;
$bloom-500: $bloom !default;
$bloom-600: shade-color($bloom, 20%) !default;
$bloom-700: shade-color($bloom, 40%) !default;
$bloom-800: shade-color($bloom, 60%) !default;
$bloom-900: shade-color($bloom, 80%) !default;

$blooms: (
  "bloom-100": $bloom-100,
  "bloom-200": $bloom-200,
  "bloom-300": $bloom-300,
  "bloom-400": $bloom-400,
  "bloom-500": $bloom-500,
  "bloom-600": $bloom-600,
  "bloom-700": $bloom-700,
  "bloom-800": $bloom-800,
  "bloom-900": $bloom-900
) !default;

$chili-100: tint-color($chili, 80%) !default;
$chili-200: tint-color($chili, 60%) !default;
$chili-300: tint-color($chili, 40%) !default;
$chili-400: tint-color($chili, 20%) !default;
$chili-500: $chili !default;
$chili-600: shade-color($chili, 20%) !default;
$chili-700: shade-color($chili, 40%) !default;
$chili-800: shade-color($chili, 60%) !default;
$chili-900: shade-color($chili, 80%) !default;

$chilis: (
  "chili-100": $chili-100,
  "chili-200": $chili-200,
  "chili-300": $chili-300,
  "chili-400": $chili-400,
  "chili-500": $chili-500,
  "chili-600": $chili-600,
  "chili-700": $chili-700,
  "chili-800": $chili-800,
  "chili-900": $chili-900
) !default;

$sky-100: tint-color($sky, 80%) !default;
$sky-200: tint-color($sky, 60%) !default;
$sky-300: tint-color($sky, 40%) !default;
$sky-400: tint-color($sky, 20%) !default;
$sky-500: $sky !default;
$sky-600: shade-color($sky, 20%) !default;
$sky-700: shade-color($sky, 40%) !default;
$sky-800: shade-color($sky, 60%) !default;
$sky-900: shade-color($sky, 80%) !default;

$skys: (
  "sky-100": $sky-100,
  "sky-200": $sky-200,
  "sky-300": $sky-300,
  "sky-400": $sky-400,
  "sky-500": $sky-500,
  "sky-600": $sky-600,
  "sky-700": $sky-700,
  "sky-800": $sky-800,
  "sky-900": $sky-900
) !default;

$oasis-100: tint-color($oasis, 80%) !default;
$oasis-200: tint-color($oasis, 60%) !default;
$oasis-300: tint-color($oasis, 40%) !default;
$oasis-400: tint-color($oasis, 20%) !default;
$oasis-500: $oasis !default;
$oasis-600: shade-color($oasis, 20%) !default;
$oasis-700: shade-color($oasis, 40%) !default;
$oasis-800: shade-color($oasis, 60%) !default;
$oasis-900: shade-color($oasis, 80%) !default;

$oases: (
  "oasis-100": $oasis-100,
  "oasis-200": $oasis-200,
  "oasis-300": $oasis-300,
  "oasis-400": $oasis-400,
  "oasis-500": $oasis-500,
  "oasis-600": $oasis-600,
  "oasis-700": $oasis-700,
  "oasis-800": $oasis-800,
  "oasis-900": $oasis-900
) !default;
// fusv-enable


/*
* > FONTS
*/
// stylelint-disable value-keyword-case
$font-family-sans-serif: proxima-nova, calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// stylelint-enable value-keyword-case

$heading-margins: 1.042em 0 .667em;

/*
* > COMPONENTS
*/

// >> Navs
$nav-tabs-link-bg: $gray-200;
$nav-tabs-lg-link-padding: 1.25em 1.75em;

// >> Navbar
$navbar-nav-link-padding-y: 1.25rem;
$navbar-nav-link-font-weight: 600;

$navbar-light-border-color: $gray-200;
$navbar-light-border-width: 1px 0;
$navbar-light-link-color: $azurite;
$navbar-light-link-active-color: $midnight;
$navbar-light-link-active-bg: $gray-200;
$navbar-light-link-hover-bg: $gray-100;

// >>> Navbar Off-canvas
$navbar-offcanvas-bg: $blue;
$navbar-offcanvas-bg-expanded: rgba($white, .15);
$navbar-offcanvas-link-padding: 12px 20px;
$navbar-offcanvas-dropdown-link-padding: 14px 20px 14px 35px;
$navbar-offcanvas-link-color: $white;
$navbar-offcanvas-link-disabled-color: $gray-500;
$navbar-offcanvas-link-active-bg: $azurite;
$navbar-offcanvas-link-hover-bg: $azurite;
