/*
* > COLORS
*/

// >> Brand Colors

// >>> Upstream Bootstrap grayscale
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// fusv-disable
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);
// fusv-enable

$red: #ab0520;
$bloom: #ef4056;
$chili: #8b0015;
$blue: #0c234b;
$sky: #81d3eb;
$oasis: #378dbd;
$azurite: #1e5288;
$midnight: #001c48;
$cool-gray: #e2e9eb;
$warm-gray: #f4ede5;
$leaf: #70b865;
$river: #007d84;
$silver: #9eabae;
$dark-silver: #49595e;  // to be used for text only
$mesa: #a95c42;
$ash: #403635;
$sage: #4a634e;
$white: #fff;
$black: #000;

$colors: ();
$colors: map-merge(
  (
    "red":   $red,
    "bloom":   $bloom,
    "chili":   $chili,
    "blue":    $blue,
    "sky":     $sky,
    "oasis":   $oasis,
    "azurite":     $azurite,
    "midnight":    $midnight,
    "cool-gray":   $cool-gray,
    "warm-gray":   $warm-gray,
    "leaf":    $leaf,
    "river":   $river,
    "silver":  $silver,
    "mesa":    $mesa,
    "ash":     $ash,
    "sage":    $sage,
    "white":    $white,
    "black":    $black,
  ),
  $colors
);

/*
* > FONTS
*/
// stylelint-disable value-keyword-case
$font-family-sans-serif: proxima-nova, calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// stylelint-enable value-keyword-case

$heading-margins: 1.042em 0 .667em;

/*
* > COMPONENTS
*/

// >> Navs
$nav-tabs-link-bg: $gray-200;
$nav-tabs-lg-link-padding: 1.25em 1.75em;

// >> Navbar
$navbar-nav-link-padding-y: 1.25rem;
$navbar-nav-link-font-weight: 600;

$navbar-light-border-color: $gray-200;
$navbar-light-border-width: 1px 0;
$navbar-light-link-color: $azurite;
$navbar-light-link-active-color: $midnight;
$navbar-light-link-active-bg: $gray-200;
$navbar-light-link-hover-bg: $gray-100;

// >>> Navbar Off-canvas
$navbar-offcanvas-bg: $blue;
$navbar-offcanvas-bg-expanded: rgba($white, .15);
$navbar-offcanvas-link-padding: 12px 20px;
$navbar-offcanvas-dropdown-link-padding: 14px 20px 14px 35px;
$navbar-offcanvas-link-color: $white;
$navbar-offcanvas-link-disabled-color: $gray-500;
$navbar-offcanvas-link-active-bg: $azurite;
$navbar-offcanvas-link-hover-bg: $azurite;
