// Overrides for Breadcrumbs
.breadcrumb {
  --bs-breadcrumb-bg: var(--bs-white);
  --bs-breadcrumb-divider-color: var(--bs-gray-600);
  --bs-breadcrumb-divider-font-family: var(--bs-font-material-symbols);

  a {
    padding: 1px 0;
    font-weight: 500;
    color: var(--bs-azurite);
    &:hover {
      --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: var(--bs-breadcrumb-divider-font-family), monospace;
}

// Remove margins/padding on Breadcrumbs for larger displays
@include media-breakpoint-up(lg) {
  .breadcrumb {
    margin-bottom: 0;
  }
}
