// Overrides for Breadcrumbs
.breadcrumb {
  a {
    padding: 1px 0;
    font-weight: 500;
    color: $breadcrumb-color;
    &:hover {
      color: $breadcrumb-hover-color;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: "Material Symbols Rounded", monospace;
}

// Remove margins/padding on Breadcrumbs for larger displays
@include media-breakpoint-up(lg) {
  .breadcrumb {
    margin-bottom: 0;
  }
}
