// Overrides for the Button and Button Group components

//
// > BUTTONS
//

// >> Variants
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include az-button-variant($value);
  }
}

// Overriding btn-primary to mirror custom .btn-red
.btn-primary {
  @include button-variant(
    $background: $red,
    $border: $red,
    $color: $white,
    $hover-background: $chili,
    $hover-border: $chili,
    $hover-color: $white,
    $active-background: $red,
    $active-border: $red,
    $active-color: $white
  );
}

// Overriding .btn-secondary to mirror custom .btn-blue
.btn-secondary {
  @include button-variant(
    $background: $blue,
    $border: $blue,
    $color: $white,
    $hover-background: $azurite,
    $hover-border: $azurite,
    $hover-color: $white,
    $active-background: tint-color($blue, 20%),
    $active-border: tint-color($blue, 20%),
    $active-color: $white
  );
}

// Overriding .btn-outline-primary to mirror custom .btn-outline-red
.btn-outline-primary {
  @include button-outline-variant(
    $color: $red,
    $color-hover: $white
  );
}

// Overriding .btn-outline-secondary to mirror custom .btn-outline-blue
.btn-outline-secondary {
  @include button-outline-variant(
    $color: $blue,
    $color-hover: $white
  );
}

.btn-link {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

// >> Variant Accessibility
.btn-success,
.btn-info,
.btn-outline-info {
  &:hover {
    color: $midnight;
  }
}
.btn-warning {
  &:hover {
    color: $black;
  }
}
.btn-outline-info {
  color: $azurite;
}
.btn-outline-warning {
  color: $ash;
  &:hover {
    color: $black;
  }
}
.btn-outline-light {
  color: $ash;
}
