// Scoped overrides for buttons in btn-group-vertical
.btn-group-vertical .btn {
  --bs-btn-border-radius: var(--bs-border-radius);

  &.btn-sm {
    --bs-btn-border-radius: var(--bs-border-radius-sm);
  }

  &.btn-lg {
    --bs-btn-border-radius: var(--bs-border-radius-lg);
  }
}
