// Overrides for the Dropdown component

//
// > DROPDOWNS
//

.dropdown-item:focus-visible {
  @include border-radius(2px);
  outline: 0;
  box-shadow: inset 0 0 $focus-ring-blur 2px $white;
}

.dropdown-menu {
  input:focus-visible,
  button:focus-visible {
    box-shadow: 0 0 $focus-ring-blur $focus-ring-width rgba($white, .75);
  }
}
