// Overrides for the Dropdown component

//
// > DROPDOWNS
//

.dropdown-item:focus-visible {
  @include border-radius(2px);
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--bs-white);
}

.dropdown-menu {
  input:focus-visible,
  button:focus-visible {
    box-shadow: 0 0 0 var(--bs-focus-ring-width) rgba(var(--bs-white-rgb), .75);
  }
}
