// Overrides for the Navbar component

.navbar {
  justify-content: space-between;
  border-top: 1px solid $navbar-light-border-color;
  border-bottom: 1px solid $navbar-light-border-color;
}

.navbar-nav {
  --#{$prefix}nav-link-color: #{$nav-link-color};

  .nav-item {
    &:hover {
      background-color: $gray-100;
    }

    &:has(> .nav-link.active),
    &:has(> .nav-link.is-active),
    &:has(> .nav-link:active),
    &:has(> .nav-link.show) {
      background-color: $nav-tabs-link-bg;
    }
  }

  .nav-link {
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
    @include border-radius(0);

    &:not(.active) {
      font-weight: 600;
    }

    &.active,
    &.is-active,
    &:active,
    &.show {
      color: $navbar-light-active-color;
    }
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;
    text-align: left;
    white-space: normal;
  }
}

.navbar-toggler {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

@include color-mode(dark) {
  .navbar-nav {
    --#{$prefix}nav-link-color: #{$gray-100};

    .nav-item {
      &:hover {
        background-color: initial;
      }

      &:has(> .nav-link.active),
      &:has(> .nav-link.is-active),
      &:has(> .nav-link:active),
      &:has(> .nav-link.show) {
        background-color: $gray-900;
      }
    }

    .nav-link {
      &:hover,
      &:active,
      &.active,
      &.is-active,
      &.show {
        color: $white;
      }
    }
  }
}
