// Overrides for Navs & Tabs

.nav-link {
  &.active,
  &:active,
  &.is-active {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
  }
}

.nav-tabs {
  .nav-item {
    + .nav-item {
      margin-left: .5rem;
    }
  }
  .nav-link {
    background-color: $nav-tabs-link-bg;

    &.disabled {
      background-color: initial;
    }
  }

  &.nav-tabs-lg {
    flex-direction: column;
    border-bottom-width: 0;

    .nav-item {
      + .nav-item {
        margin-left: 0;
      }
    }
  }

  &.nav-underline {
    &.active,
    &:active,
    &.is-active {
      background-color: $nav-tabs-link-active-bg;
    }
  }
}

@include media-breakpoint-up(lg) {
  .nav-tabs {
    &.nav-tabs-lg {
      flex-direction: row;
      border-bottom-width: 1px;

      .nav-item {
        + .nav-item {
          margin-left: .5rem;
        }
      }

      .nav-link {
        padding: $nav-tabs-lg-link-padding;
        border: $nav-tabs-border-width solid $nav-tabs-border-color;
      }
    }
  }
}

/* stylelint-disable selector-max-type, selector-max-compound-selectors, selector-max-combinators */
.nav.nav-pills.flex-column > li {
  margin: -1px 0 0;
  border: solid 1px $nav-tabs-border-color;

  ul > li {
    border: 0;
    a {
      padding-left: 25px;
      font-weight: 400;
    }
    ul > li {
      a {
        padding-left: 35px;
      }
      ul > li {
        a {
          padding-left: 45px;
        }
        ul > li {
          a {
            padding-left: 55px;
          }
          ul > li {
            a {
              padding-left: 65px;
            }
          }
        }
      }
    }
  }
}
/* stylelint-enable selector-max-type, selector-max-compound-selectors, selector-max-combinators */

.nav.nav-utility {
  margin: $nav-utility-margin;
  .nav-item {
    padding: $nav-utility-item-padding;
  }
  .nav-link {
    padding: 0;
    font: {
      size: $nav-utility-link-font-size;
      weight: $nav-utility-link-font-weight;
    }
    color: $nav-utility-link-color;
    border-bottom: $nav-utility-link-border-width solid transparent;

    &:hover,
    &:focus {
      border-bottom: $nav-utility-link-border-width solid $nav-utility-link-border-hover-color;
    }
  }
}
