// Overrides for Navs & Tabs

.nav-link {
  &.active,
  &:active {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-bg;
    /* stylelint-disable-next-line property-disallowed-list */
    border-radius: $nav-pills-border-radius;
  }
}

.nav-tabs {
  > *:nth-child(n+2) {
    margin-left: .5rem;
  }

  .nav-link {
    background-color: $nav-tabs-link-bg;

    &.active,
    &:active {
      /* stylelint-disable-next-line property-disallowed-list */
      border-radius: revert;
    }

    &.disabled,
    &:disabled {
      background-color: initial;
    }
  }

  &.nav-tabs-lg {
    flex-direction: column;
    border-bottom-width: 0;

    > *:nth-child(n+2) {
      margin-left: 0;
    }

    .nav-link {
      border-color: transparent;

      &.active,
      &:active {
        background-color: $nav-tabs-link-bg;
        /* stylelint-disable property-disallowed-list */
        border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
        border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
        /* stylelint-enable property-disallowed-list */
      }

      &:not(.active) {
        background-color: revert;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .nav-tabs {
    &.nav-tabs-lg {
      flex-direction: row;
      border-bottom-width: 1px;

      > *:nth-child(n+2) {
        margin-left: .5rem;
      }

      .nav-link {
        padding: $nav-tabs-lg-link-padding;

        &:not(.active),
        &:not(.disabled) {
          background-color: $nav-tabs-link-bg;
          border: $nav-tabs-border-width solid $nav-tabs-border-color;
        }

        &.active,
        &:active {
          background-color: revert;
          border-color: $nav-tabs-link-active-border-color;
          /* stylelint-disable property-disallowed-list */
          border-bottom-right-radius: initial;
          border-bottom-left-radius: initial;
          /* stylelint-enable property-disallowed-list */
        }

        &.disabled {
          background-color: revert;
          border-color: transparent;
        }
      }
    }
  }
}

.nav.nav-underline .nav-link {
  &.active,
  &:active {
    background-color: $nav-tabs-link-active-bg;
    /* stylelint-disable-next-line property-disallowed-list */
    border-radius: revert;
  }
}

/* stylelint-disable selector-max-class, selector-max-type, selector-max-compound-selectors, selector-max-combinators */
.nav.nav-pills.flex-column > li {
  margin: -1px 0 0;
  border: solid 1px $nav-tabs-border-color;

  ul > li {
    border: 0;
    a {
      padding-left: 25px;
      font-weight: 400;
    }
    ul > li {
      a {
        padding-left: 35px;
      }
      ul > li {
        a {
          padding-left: 45px;
        }
        ul > li {
          a {
            padding-left: 55px;
          }
          ul > li {
            a {
              padding-left: 65px;
            }
          }
        }
      }
    }
  }

  .nav-link {
    &.active,
    &:active {
      /* stylelint-disable-next-line property-disallowed-list */
      border-radius: 0;
    }
  }
}
/* stylelint-enable selector-max-class, selector-max-type, selector-max-compound-selectors, selector-max-combinators */

.nav.nav-utility {
  margin: 1rem 0 1.5rem;
  .nav-item {
    padding: 0 .6rem;
  }
  .nav-link {
    padding: 0;
    font-weight: 500;
    color: $dark-silver;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      border-bottom-color: $dark-silver;
    }
  }
}
