// Overrides for the Navbar component

.navbar {
  justify-content: space-between;
  border-top: 1px solid $navbar-light-border-color;
  border-bottom: 1px solid $navbar-light-border-color;
}

.navbar-nav {
  --#{$prefix}nav-link-color: #{$nav-link-color};

  .nav-link {
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
    @include border-radius(0);

    &:not(.active) {
      font-weight: 600;
    }

    &:hover {
      background-color: $gray-100;
    }

    &.active,
    &.is-active,
    &:active,
    &.show {
      color: $navbar-light-active-color;
      background-color: $nav-tabs-link-bg;
    }
  }
}

.navbar-toggler {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

@include color-mode(dark) {
  .navbar-nav {
    --#{$prefix}nav-link-color: #{$gray-100};

    .nav-link {
      &:hover {
        color: $white;
        background-color: initial;
      }

      &:active,
      &.active,
      &.is-active,
      &.show {
        color: $white;
        background-color: $gray-900;
      }
    }
  }
}
